{% extends '_base.html.twig' %}

{% block title %}List of URLs{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <table class="table table-sm">
        <thead>
            <tr>
                <th>Maker</th>
                <th>Type</th>
                <th>URL</th>
                <th>Last success</th>
                <th>Last failure</th>
                <th>Failure code</th>
                <th>Failure reason</th>
            </tr>
        </thead>
        <tbody>
            {% for url in urls %}
                {% if url.lastSuccess is not null %}
                    {% if url.lastFailure is not null and url.lastFailure > url.lastSuccess%}
                        {% set class = 'table-danger' %}
                    {% else %}
                        {% set class = 'table-success' %}
                    {% endif %}
                {% else %}
                    {% if url.lastFailure is not null %}
                        {% set class = 'table-danger' %}
                    {% else %}
                        {% set class = '' %}
                    {% endif %}
                {% endif %}

                <tr>
                    <td>
                        <a href="{{ path('mx_artisan_edit', { 'id': url.artisan.id }) }}">{{ url.artisan.lastMakerId }}</a>
                    </td>
                    <td class="text-nowrap {{ class }}">
                        {{ url.type }}
                    </td>
                    <td class="text-break">
                        <a href="{{ url.url }}">{{ url.url|event_url|nl2br }}</a>
                    </td>
                    <td class="text-nowrap">
                        {{ url.lastSuccess|nulldate }}
                    </td>
                    <td class="text-nowrap">
                        {{ url.lastFailure|nulldate }}
                    </td>
                    <td>
                        {{ url.lastFailureCode }}
                    </td>
                    <td class="text-break">
                        {{ url.lastFailureReason }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
