{% extends '_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    {# TODO: Restore
    {% include 'main/parts/intro.html.twig' %}
    #}

    {% include 'main/parts/checklist.html.twig' %}

    {% include 'main/parts/events_and_state.html.twig' %}

    {# FIXME
        <div v-if="aasConfig.getMakerMode()" class="card border-danger mb-3">
            <div class="card-header">
                Filters disabled
            </div>
            <div class="card-body">
                <p class="card-text">
                    All filtering has been temporarily disabled to ease searching the whole database. Use the below button
                    to restore them.
                </p>
                <a id="btn-reenable-filters" :href="Static.getMainPath()" class="btn btn-light btn-outline-danger"
                   @click="disableMakerMode">Re-enable filters</a>
            </div>
        </div>
    #}

    {% include 'main/parts/filters.html.twig' %}

    {% include 'main/parts/legend_modal.html.twig' %}

    <div id="artisanUpdatesModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div id="artisanUpdatesModalContent" class="modal-content">
            </div>
        </div>
    </div>

    <div id="artisanDetailsModal" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div id="artisanDetailsModalContent" class="modal-content"></div>
        </div>
    </div>

    {% set columns = [
        {id: 'makerId',          label: 'Maker ID',          alignment_class: 'text-center'},
        {id: 'state',            label: 'State',             alignment_class: 'text-center'},
        {id: 'languages',        label: 'Languages',         alignment_class: 'text-center'},
        {id: 'productionModels', label: 'Production models', alignment_class: 'text-center'},
        {id: 'styles',           label: 'Styles',            alignment_class: 'text-center'},
        {id: 'types',            label: 'Types',             alignment_class: 'text-center'},
        {id: 'features',         label: 'Features',          alignment_class: 'text-center'},
        {id: 'species',          label: 'Species',           alignment_class: 'text-center'},
        {id: 'commissions',      label: 'Commissions',       alignment_class: 'text-center'},
        {id: 'links',            label: 'Links',             alignment_class: 'text-end'},
    ] %}

    <div id="main-primary-content" class="row d-none">
        <div class="col-md-6">
            <div class="btn-group mb-2" role="group" aria-label="Menus and legend">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown"
                            data-bs-auto-close="outside" aria-expanded="false">
                        Columns
                    </button>
                    <ul id="columns-visibility-links" class="dropdown-menu">
                        {% for column in columns %}
                            <li>
                                <a class="dropdown-item" href="#" data-column-id="{{ column.id }}">{{ column.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <button id="filtersButton" type="button" class="btn btn-success text-nowrap" data-bs-toggle="modal"
                        data-bs-target="#filters-modal">
                    Filters

                    <span id="active-filters-count" class="badge rounded-pill text-bg-light"></span>
                </button>

                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#legend-modal">
                    Legend
                </button>
            </div>
        </div>

        <div class="col-md-6 text-md-end">
            <input id="search-text-field" class="my-1" type="text" name="text-search" placeholder="Search">
        </div>

        <div id="data-table-container">
            <table id="creators-table" class="table table-striped table-sm table-hover">
                <thead class="table-dark">
                    <tr>
                        <th class="name text-start">Fursuit maker /&nbsp;studio name</th>
                        {% for column in columns %}
                            <th class="{{ column.id }} {{ column.alignment_class }}">
                                {{ column.label }}
                            </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody id="creators-table-body">
                </tbody>
            </table>
        </div>
    </div>

    <p id="artisans-table-count"></p>

    <div class="container text-center">
        <img src="{{ asset('images/website-banner-bottom.webp') }}" class="img-fluid" alt="">
    </div>
{% endblock %}
