<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    <div class="row">
        <div class="col-md-8">
            <h4 class="alert-heading">Fursuit makers database</h4>

            <p>
                Welcome to the spawnbase of the furries! Currently {{ stats.activeArtisansCount|fragile_int }}&nbsp;makers from
                {{ stats.countryCount|fragile_int }}&nbsp;countries are listed here.

                <br />

                <span class="small">
                    Last update: {{ stats.lastDataUpdateTimeUtc|fragile_datetime_utc }} (data)
                    / {{ stats.lastSystemUpdateTimeUtc|fragile_datetime_utc }} (system).
                </span>
            </p>

            <p class="small">
                Majority of data here has been submitted by the makers themselves. Only they can provide accurate and complete information. If you see your maker/studio missing or information outdated, please let them know!
            </p>

            <p>
                <a class="btn btn-primary m-2" href="{{ feedback_form_url }}" target="_blank">
                    Report a bug or request a feature
                </a>
                <a class="btn btn-success m-2" href="{{ path('iu_form_step_start') }}">
                    Join or update your studio's information
                </a>
            </p>

            <p>
                <strong>Help spreading awareness of this website by tweeting:</strong>
            </p>

            <p>

                <a href="https://twitter.com/intent/tweet?text=We%20need%20more%20%23FursuitMakers%20to%20join&url=https%3A%2F%2Fgetfursu.it%2F" target="_blank" class="text-decoration-none">
                    "We need more #FursuitMakers to join getfursu.it"
                    <span class="badge rounded-pill bg-primary">Tweet <i class="fab fa-twitter"></i></span>
                </a>

                <br />

                <a href="https://twitter.com/intent/tweet?text=Check%20out%20this%20%23FursuitMakers%20list%3A&url=https%3A%2F%2Fgetfursu.it%2F" target="_blank" class="text-decoration-none">
                    "Check out this #FursuitMakers list: getfursu.it"
                    <span class="badge rounded-pill bg-primary">Tweet <i class="fab fa-twitter"></i></span>
                </a>
            </p>
        </div>

        <div class="col-md-4 px-0 text-center">
            <img src="{{ asset('images/website-banner-top-transparent.webp') }}" class="img-fluid" alt="" />
        </div>
    </div>
</div>
