<div class="alert alert-primary alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    <div class="row">
        <div class="col-sm-8">
            <h4 class="alert-heading">Fursuit makers database</h4>

            <p>
                Welcome to the spawnbase of the furries! Currently {{ stats.activeArtisansCount|fragile_int }}&nbsp;makers from
                {{ stats.countryCount|fragile_int }}&nbsp;countries are listed here. Do you know one missing from here? - let them know!
            </p>

            <p class="small">
                Last update: {{ stats.lastDataUpdateTimeUtc|fragile_date }} UTC (data)
                / {{ stats.lastSystemUpdateTimeUtc|fragile_date }} UTC (system).
            </p>

            <p>
                <span class="badge bg-danger">Encountered a bug?</span> Want a feature? Want more information?
                <a href="{{ feedback_form_url }}" target="_blank">Click here!</a>
            </p>
        </div>

        <div class="col-sm-4 px-0 text-center">
            <img src="{{ asset('images/website-banner-top-transparent.webp') }}" class="img-fluid" alt="" />
        </div>
    </div>
</div>
