{% extends 'mx/_base.html.twig' %}

{% block title %}Social{% endblock %}

{% set creator_s = creators|length > 1 ? 'makers' : 'maker' %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <div class="row">
        <div class="col">
            <h4>Tumblr</h4>

            <h5>Markdown text</h5>

            <p class="user-select-all">
                # Fursuit {{ creator_s }} added

                <br><br>

                {% for creator in creators %}
                    - [getfursu.it/#{{ creator.creatorId }}](https://getfursu.it/#{{ creator.creatorId }})
                    {% if '' != creator.tumblrUrl %}
                        {{ creator.tumblrUrl|tumblr_at }}
                    {% endif %}
                    <br><br>
                {% endfor %}

                <br>

                Join/see all recently joined: [getfursu.it/new](https://getfursu.it/new)
            </p>

            <h5>Hashtags</h5>
            <p><i>#<span class="user-select-all">fursuit maker</span> #<span class="user-select-all">furry</span></i></p>

            <h4>Mastodon</h4>

            <p class="user-select-all">
                Fursuit {{ creator_s }} added:<br>

                {% for creator in creators %}
                    - https://getfursu.it/#{{ creator.creatorId }}

                    {% if '' != creator.mastodonUrl %}
                        {{ creator.mastodonUrl|mastodon_at }}
                    {% endif %}

                    <br>
                {% endfor %}

                <br>

                Join/see all recently joined: https://getfursu.it/new

                <br><br>

                <i>#fursuitmaker #furry</i>
            </p>
        </div>

        <div class="col">
            <h4>Bluesky</h4>

            <p class="user-select-all">
                Fursuit {{ creator_s }} added:<br>

                {% for creator in creators %}
                    - https://getfursu.it/#{{ creator.creatorId }}

                    {% if '' != creator.blueskyUrl %}
                        {{ creator.blueskyUrl|bluesky_at }}
                    {% endif %}

                    <br>
                {% endfor %}

                &nbsp;<br>

                Join/see all recently joined: https://getfursu.it/new

                <br>&nbsp;<br>

                <i>#fursuitmaker #furry</i>
            </p>

            <h4>Twitter</h4>

            <p class="user-select-all">
                Fursuit {{ creator_s }} added:<br>

                {% for creator in creators %}
                    - https://getfursu.it/#{{ creator.creatorId }}

                    {% if '' != creator.twitterUrl %}
                        <span class="user-select-all">@{{ creator.twitterUrl|split('/')[3] }}</span>
                    {% endif %}

                    <br>
                {% endfor %}

                <br>

                Join/see all recently joined: https://getfursu.it/new

                <br><br>

                <i>#fursuitmaker #furry</i>
            </p>

            <h4 class="pt-4">Instagram</h4>

            <h5>Tags and hashtags</h5>
            <p class="user-select-all">
                {% for creator in creators %}
                    {% if '' != creator.instagramUrl %}
                        @{{ creator.instagramUrl|split('/')[3] }}
                    {% endif %}
                {% endfor %}

                <i>#fursuitmaker #furry</i>
            </p>
        </div>
    </div>
{% endblock %}
