{% extends 'mx/_base.html.twig' %}

{% block title %}Social{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <div class="row">
        <div class="col">
            <h4>Tumblr</h4>

            <h5>Markdown text</h5>

            <p class="user-select-all">
                # Fursuit makers added

                <br><br>

                {% for artisan in artisans %}
                    - [getfursu.it/#{{ artisan.makerId }}](https://getfursu.it/#{{ artisan.makerId }})<br><br>
                {% endfor %}

                <br>

                Join / see all recently joined: [getfursu.it/new](https://getfursu.it/new)
            </p>

            <h6>Emoji</h6>
            <p class="user-select-all">🦖</p>

            <h6>Hashtags</h6>
            <p><i>#<span class="user-select-all">fursuit maker</span> #<span class="user-select-all">furry</span></i></p>

            <h4>Image ALT</h4>
            <p class="user-select-all small">
                Screenshot of a Tumblr post announcing the addition of __CHANGE_HERE__ new makers
                to the getfursu.it website, and encouraging to check the list of all recently added makers,
                or to join the list. Below the text, two large emoticons/characters are shown:
                __CHANGE_HERE__ and a T. rex looking in __CHANGE_HERE__ direction.
            </p>
        </div>

        <div class="col">
            <h4>Mastodon</h4>

            <h5>Toot</h5>
            <p class="user-select-all">
                <i>#fursuitmaker #furry</i>

                {% for artisan in artisans %}
                    https://getfursu.it/#{{ artisan.makerId }}
                {% endfor %}

                https://getfursu.it/new
            </p>

            <h4>Twitter</h4>

            <h5>Tweet</h5>
            <p class="user-select-all">
                <i>#fursuitmaker #furry</i>

                {% for artisan in artisans %}
                    https://getfursu.it/#{{ artisan.makerId }}
                {% endfor %}

                https://getfursu.it/new
            </p>

            <h5>Tags</h5>
            <p>
                {% for artisan in artisans %}
                    {% if '' != artisan.twitterUrl %}
                        <span class="user-select-all">@{{ artisan.twitterUrl|split('/')[3] }}</span>
                    {% endif %}
                {% endfor %}
            </p>

            <h4 class="pt-4">Instagram</h4>

            <h5>Tags and hashtags</h5>
            <p class="user-select-all">
                {% for artisan in artisans %}
                    {% if '' != artisan.instagramUrl %}
                        @{{ artisan.instagramUrl|split('/')[3] }}
                    {% endif %}
                {% endfor %}

                <i>#fursuitmaker #furry</i>
            </p>
        </div>
    </div>
{% endblock %}
