{% extends '_base.html.twig' %}

{% block title %}Submission {{ update.submission.id }}{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {% if update.matchedArtisans|length > 1 %}
        <p>
            Matched multiple makers:

            {% for artisan in update.matchedArtisans %}
                <a href="{{ path('main', {'_fragment': artisan.lastMakerId}) }}">{{ artisan.name }} ({{ artisan.lastMakerId }})</a>
                {%- if loop.last %}.{% else %},{% endif %}
            {% endfor %}

            <span class="text-danger">Unable to continue.</span>
        </p>
    {% elseif update.matchedArtisans is empty %}
        <p>Creating a new maker.</p>
    {% else %}
        {% set artisan = update.matchedArtisans|first %}

        <p>
            Updating: <a href="{{ path('main', {'_fragment': artisan.lastMakerId}) }}">{{ artisan.name }} ({{ artisan.lastMakerId }})</a>.
        </p>
    {% endif %}

    <table class="table table-sm" id="mx-submission">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            {% for field in fields %}
                {% set submitted_different = update.submittedDifferent(field) %}
                {% set fixes_applied = update.fixesApplied(field) %}
                {% set is_changing = update.isChanging(field) %}

                {% set row_class = (submitted_different ? 'submitted-different' : 'submitted-same')
                    ~ ' ' ~ (fixes_applied ? 'fixes-applied' : 'not-fixed')
                    ~ ' ' ~ (is_changing ? 'changing' : 'not-changing')
                    ~ ' ' ~ (field.isInIuForm ? 'in-iu-form' : 'automated')
                %}

                <tr class="{{ field.value }} current {{ row_class }}">
                    <td>{{ field.name }}&nbsp;[current]</td>
                    <td>{{ update.originalArtisan.get(field)|as_str|nl2br }}</td>
                </tr>

                <tr class="{{ field.value }} submitted {{ row_class }}">
                    <td>{{ field.name }}&nbsp;[submitted]</td>
                    <td>{{ update.originalInput.get(field)|as_str|nl2br }}</td>
                </tr>

                <tr class="{{ field.value }} changed {{ row_class }}">
                    <td>{{ field.name }}&nbsp;[changed]</td>
                    <td>{{ update.updatedArtisan.get(field)|as_str|nl2br }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
