{% extends 'mx/_base.html.twig' %}

{% block title %}Submission {{ update.submission.id }}{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {% if update.matchedArtisans|length > 1 %}
        <p>
            Matched multiple makers:

            {% for artisan in update.matchedArtisans %}
                <a href="{{ path('main', {'_fragment': artisan.lastMakerId}) }}">{{ artisan.name }} ({{ artisan.lastMakerId }})</a>
                {%- if loop.last %}.{% else %},{% endif %}
            {% endfor %}

            <span class="text-danger">Unable to continue.</span>
        </p>
    {% elseif update.matchedArtisans is empty %}
        <p>Creating a new maker.</p>
    {% else %}
        {% set artisan = update.matchedArtisans|first %}

        <p>
            Updating: <a href="{{ path('main', {'_fragment': artisan.lastMakerId}) }}">{{ artisan.name }} ({{ artisan.lastMakerId }})</a>.
        </p>
    {% endif %}

    {{ form_start(form) }}

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.directives) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.comment) }}
        </div>
    </div>
    <div class="text-end">
        {{ form_row(form.update) }}
    </div>

    {{ form_rest(form) }}
    {{ form_end(form) }}

    <table class="table table-sm" id="mx-submission">
        <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            {% for field in fields %}
                {% set submitted_different = update.submittedDifferent(field) %}
                {% set fixes_applied = update.fixesApplied(field) %}
                {% set is_changing = update.isChanging(field) %}

                {% set row_class = (submitted_different ? 'submitted-different' : 'submitted-same')
                    ~ ' ' ~ (fixes_applied ? 'fixes-applied' : 'not-fixed')
                    ~ ' ' ~ (is_changing ? 'changing' : 'not-changing')
                    ~ ' ' ~ (field.isInIuForm ? 'in-iu-form' : 'automated')
                %}

                {% if not update.isNew %}
                    <tr class="{{ field.value }} before {{ row_class }}">
                        <td>{{ field.name }}&nbsp;[before]</td>
                        <td>{{ field|difference('danger', update.originalArtisan, update.updatedArtisan)|link_urls }}</td>
                    </tr>
                {% endif %}

                <tr class="{{ field.value }} submitted {{ row_class }}">
                    <td>{{ field.name }}&nbsp;[submitted]</td>
                    <td>{{ field|difference('primary', update.originalInput, update.updatedArtisan)|link_urls }}</td>
                </tr>

                <tr class="{{ field.value }} after {{ row_class }} bottom-separator">
                    <td>{{ field.name }}&nbsp;[after]</td>
                    <td>{{ field|difference('success', update.updatedArtisan, update.originalArtisan)|link_urls }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Text description</h2>

    <p class="small user-select-all">{{ update.description.text|nl2br }}</p>
{% endblock %}
