{% import "main/modals/filters/macros.html.twig" as macros %}

<div class="row">
    <div class="col">
        {{ macros.ctrl_button('countries',         'Countries') }}
        {{ macros.ctrl_button('states',            'States') }}
        {{ macros.ctrl_button('languages',         'Languages') }}
        {{ macros.ctrl_button('styles',            'Styles') }}
        {{ macros.ctrl_button('features',          'Features') }}
        {{ macros.ctrl_button('orderTypes',        'Order types') }}
        {{ macros.ctrl_button('productionModels',  'Production models') }}
        {{ macros.ctrl_button('commissionsStatus', 'Open for') }}
        {{ macros.ctrl_button('species',           'Species') }}
        {{ macros.ctrl_button('paymentPlans',      'Payment plans') }}
    </div>
</div>

<form id="filters">
{{ macros.body_other('countries',               'helphints/countries.html.twig',          'countries.html.twig', filters) }}
{{ macros.body_multiselect('states',            'helphints/states.html.twig',             filters.states, 'state') }}
{{ macros.body_multiselect('languages',         'helphints/languages.html.twig',          filters.languages, 'language') }}
{{ macros.body_multiselect('styles',            'helphints/styles.html.twig',             filters.styles, 'style') }}
{{ macros.body_multiselect('features',          'helphints/features.html.twig',           filters.features, 'feature') }}
{{ macros.body_multiselect('orderTypes',        'helphints/order_types.html.twig',        filters.orderTypes, 'orderType') }}
{{ macros.body_multiselect('productionModels',  'helphints/production_models.html.twig',  filters.productionModels, 'productionModel') }}
{{ macros.body_multiselect('commissionsStatus', 'helphints/commissions_status.html.twig', filters.commissionsStatuses, 'commissionStatus') }}
{{ macros.body_other('species', 'helphints/species.html.twig', 'species.html.twig', filters) }}
{{ macros.body_multiselect('paymentPlans',      'helphints/payment_plans.html.twig',      filters.paymentPlans, 'paymentPlan') }}
</form>
