{% import "main/modals/filters/macros.html.twig" as macros %}

<div class="row">
    <div class="col">
        {{ macros.ctrl_button('countries',         'Countries') }}
        {{ macros.ctrl_button('states',            'States') }}
        {{ macros.ctrl_button('languages',         'Languages') }}
        {{ macros.ctrl_button('styles',            'Styles') }}
        {{ macros.ctrl_button('features',          'Features') }}
        {{ macros.ctrl_button('orderTypes',        'Order types') }}
        {{ macros.ctrl_button('productionModels',  'Production models') }}
        {{ macros.ctrl_button('commissionsStatus', 'Open for') }}
        {{ macros.ctrl_button('species',           'Species') }}
        {{ macros.ctrl_button('paymentPlans',      'Payment plans') }}
    </div>
</div>

<form id="filters">
    {{ macros.body_other('countries',                'countries.html.twig',          'countries.html.twig', filters) }}
    {{ macros.body_multiselect('states',             'states.html.twig',             filters.states) }}
    {{ macros.body_multiselect('languages',          'languages.html.twig',          filters.languages) }}
    {{ macros.body_multiselect('styles',             'styles.html.twig',             filters.styles) }}
    {{ macros.body_multiselect('features',           'features.html.twig',           filters.features) }}
    {{ macros.body_multiselect('orderTypes',         'order_types.html.twig',        filters.orderTypes) }}
    {{ macros.body_multiselect('productionModels',   'production_models.html.twig',  filters.productionModels) }}
    {{ macros.body_multiselect('commissionStatuses', 'commissions_status.html.twig', filters.commissionStatuses) }}
    {{ macros.body_other('species',                  'species.html.twig',            'species.html.twig', filters) }}
    {{ macros.body_multiselect('paymentPlans',       'payment_plans.html.twig',      filters.paymentPlans) }}
</form>
