{% import "main/modals/filters/macros.html.twig" as macros %}

<fieldset class="region">
    <div class="row">
        <div class="col-sm-12">
            {{ macros.filter_special_items(filters.countries, 'country') }}
        </div>
    </div>
</fieldset>

{% for region in filters.countries.items %}
    {% apply spaceless %}
        <fieldset class="region">
            <legend>
                {{ region.label }} <span class="count">({{ region.count }})</span>

                {{  macros.filter_all_none_invert('countries') }}
            </legend>

            <div class="row">
                {% for country in region.value.items %}
                    <div class="col-sm-6 col-lg-3">
                        {{ macros.filter_checkbox('country', loop.index, country.value, country.label, country.count, '<span class="flag-icon flag-icon-' ~ country.value|lower ~ '"></span>') }}
                    </div>
                {% endfor %}
            </div>
        </fieldset>
    {% endapply %}
{% endfor %}
