{% macro filter_checkbox(group_name, id_part, value, label, count, label_html_prefix = '') %}
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="{{ group_name }}CheckBox{{ id_part }}"
               value="{{ value }}" data-label="{{ label }}" />
        <label class="form-check-label" for="{{ group_name }}CheckBox{{ id_part }}">
            {{ label_html_prefix|raw }} {{ label }} <span class="count">({{ count }})</span>
        </label>
    </div>
{% endmacro %}

{% macro filter_special_items(filter_data, group_name) %}
    {% for item in filter_data.specialItems %}
        {{ _self.filter_checkbox(group_name, item.idPart, item.value, item.label, item.count, '<i class="' ~ item.faIcon ~ '"></i>') }}
    {% endfor %}
{% endmacro %}

{% macro filter_all_none_invert(class) %}
    <span class="allNoneInvert {{ class }}" aria-hidden="true">
        select: <a data-action="all" href="">all</a>
        &bull; <a data-action="none" href="">none</a>
        &bull; <a data-action="invert" href="">invert</a>
    </span>
{% endmacro %}

{% macro ctrl_button(id_part, label) %}
    <div id="filter-ctrl-{{ id_part }}" class="btn-group my-1" role="group">
        <button data-bs-target="#filter-body-{{ id_part }}" class="btn btn-outline-secondary" data-bs-toggle="collapse">
            {{ label }}: <span class="status"></span>
        </button>
        <button type="button" class="filter-ctrl-remove btn btn-outline-danger">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
{% endmacro %}

{% macro body_other(id_part, helphints_tpl, body_tpl, filters) %}
    <div id="filter-body-{{ id_part }}" class="collapse" data-bs-parent="#filters-parents">
        {{ include('main/modals/filters/' ~ helphints_tpl) }}
        {{ include('main/modals/filters/' ~ body_tpl, { filters: filters }) }}
    </div>
{% endmacro %}

{% macro body_multiselect(id_part, helphints_tpl, filter_data, group_name) %}
    <div id="filter-body-{{ id_part }}" class="collapse" data-bs-parent="#filters-parents">
        {{ include('main/modals/filters/' ~ helphints_tpl) }}
        {{ include('main/modals/filters/multiselect.html.twig') }}
    </div>
{% endmacro %}
