{% macro filter_special_items_wrapped(filter_data, group_name) %}
    {% for item in filter_data.specialItems %}
        {{ _self.filter_checkbox_wrapped(group_name, item.value, item.label, item.count, '<i class="' ~ item.faIcon ~ '"></i>') }}
    {% endfor %}
{% endmacro %}

{% macro ctrl_button(id_part, label) %}
    <div id="filter-ctrl-{{ id_part }}" class="btn-group my-1" role="group">
        <button data-bs-target="#filter-body-{{ id_part }}" class="btn btn-outline-secondary" data-bs-toggle="collapse">
            {{ label }}: <span class="status"></span>
        </button>
        <button type="button" class="filter-ctrl-remove btn btn-outline-danger">
            <i class="fas fa-trash-alt"></i>
        </button>
    </div>
{% endmacro %}

{% macro body_other(group_name, helphints_tpl, body_tpl, filters) %}
    <div id="filter-body-{{ group_name }}" class="collapse" data-bs-parent="#filters-parents">
        {{ include('main/modals/filters/helphints/' ~ helphints_tpl) }}
        {{ include('main/modals/filters/' ~ body_tpl, { filters: filters }) }}
    </div>
{% endmacro %}

{% macro body_multiselect(group_name, helphints_tpl, filter_data) %}
    <div id="filter-body-{{ group_name }}" class="collapse" data-bs-parent="#filters-parents">
        {{ include('main/modals/filters/helphints/' ~ helphints_tpl) }}
        {{ include('main/modals/filters/multiselect.html.twig') }}
    </div>
{% endmacro %}
