{% extends 'submissions/_base.html.twig' %}
{% from 'shared_parts/shared_macros.html.twig' import pagination %}

{% block title %}Submissions{% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-outline-primary float-end" href="{{ path('rt_submissions_social') }}">Post on social</a>
    {% endif %}

    <h1>{{ block('title') }}</h1>

    {% if filter_form !== null %}
        {{ form_errors(filter_form) }}
        {{ form_start(filter_form) }}
        <div class="row">
            <div class="col">
                {{ form_row(filter_form.statuses) }}
            </div>
            <div class="col">
                {{ form_row(filter_form.update) }}

                <button type="submit" class="btn btn-outline-primary">Apply</button>
            </div>
        </div>
        {{ form_end(filter_form) }}
    {% endif %}

    <table class="table table-sm">
        <thead>
            <tr>
                <th>ID</th>
                <th>Submitted at</th>
                <th>Type</th>
                <th>Maker ID | Maker name</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Status</th>
                    <th>Comments</th>
                {% endif %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions_page.items %}
                <tr>
                    <td class="text-nowrap">{{ submission.id }}</td>
                    <td class="text-nowrap">{{ submission.submittedAtUtc|fragile_datetime_utc }}</td>
                    <td>
                        {%- if submission.isUpdate -%}
                            <span class="badge {{ submission.status.isActionRequired ? 'text-bg-warning' : 'bg-secondary-subtle text-secondary-emphasis' }}">Update</span>
                        {%- else -%}
                            <span class="badge {{ submission.status.isActionRequired ? 'text-bg-success' : 'bg-secondary-subtle text-secondary-emphasis' }}">Inclusion</span>
                        {%- endif -%}
                    </td>
                    <td>
                        <span class="font-monospace">{{ submission.reader.get('MAKER_ID'|as_field) }}</span> | {{ submission.reader.get('NAME'|as_field) }}
                    </td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ submission.status.label }}</td>
                        <td>{{ submission.comment|nl2br }}</td>
                    {% endif %}
                    <td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="text-decoration-none" href="{{ path('rt_submission_manage', {id: submission.id}) }}">
                                Manage
                            </a>
                            |
                        {% endif %}

                        <a class="text-decoration-none" href="{{ path('rt_submission_review', {id: submission.id}) }}">
                            Review
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ pagination(submissions_page, path('rt_submissions_list', {page: '1'}), 'submissions') }}
{% endblock %}
