{% extends '_base.html.twig' %}

{% block title %}how to update data{% endblock %}

{% block body_class %}data_updates{% endblock %}

{% block body %}
    <h1>Who adds/updates information on getfursu.it?</h1>

    <p>Only the makers themselves can provide accurate and sufficient information. That's why majority of the information here comes from themselves.</p>

    <ul>
        <li>getfursu.it maintainer will rarely add/update any data on their own.</li>
        <li>If you see that a maker is missing, or their data is outdated, the best you can do is to poke them and ask them to send updates.</li>
        <li>If you are the maker, please follow below instructions to get your information up-to-date.</li>
    </ul>

    <h1 id="how_to_add">How do I get my info added/updated?</h1>

    <div class="card" id="START_HERE">
        <div class="card-body">
            <p class="card-text">
                <strong class="badge bg-success">Start here!</strong> Are you the maker (studio member)?
            </p>

            <a href="#I_AM_MAKER" class="btn btn-outline-primary">I am the maker</a>
            <a href="#I_AM_VISITOR" class="btn btn-outline-primary">I'm a friend or customer or other/non-related</a>
        </div>
    </div>

    <div class="card mt-3" id="I_AM_MAKER">
        <div class="card-body">
            <p class="card-text">
                Are you submitting for the first time or trying to update your information?
            </p>

            <a href="#DOUBLE_CHECK_NEW" class="btn btn-outline-primary">
                I want to fill out the form to be included on the makers list
            </a>
            <a href="#IS_ALL_PROCESSED_ALREADY" class="btn btn-outline-primary">
                I'm already on the list but I want to update my information
            </a>
            <a href="#CONTACT" class="btn btn-outline-primary">
                I sent in a form already but don't see the changes on the list
            </a>
        </div>
    </div>

    <div class="card mt-3" id="DOUBLE_CHECK_NEW">
        <div class="card-body">
            <p class="card-text">
                You could already be on the list even if you haven't ever sent any form. Please also look for old names.
            </p>

            <a href="#INCLUSION_REQUEST" class="btn btn-outline-primary">I'm not there</a>
            <a href="#UPDATE_REQUEST" class="btn btn-outline-primary">Found it</a>
        </div>
    </div>

    <div class="card mt-3" id="IS_ALL_PROCESSED_ALREADY">
        <div class="card-body">
            <p class="card-text">
                Are all your previous submissions already processed (changes are on-line)?
            </p>

            <a href="#UPDATE_REQUEST" class="btn btn-outline-primary">I haven't send anything previously</a>
            <a href="#UPDATE_REQUEST" class="btn btn-outline-primary">Everything is already on-line</a>
            <a href="#AVOID_OVERWRITING" class="btn btn-outline-primary">I sent a request recently and changes are not on-line yet</a>
        </div>
    </div>

    <div class="card mt-3" id="AVOID_OVERWRITING">
        <div class="card-body">
            <p class="card-text">
                If you've recently sent another form, and that previous submission has not been processed yet, sending a new one would cancel the previous one (all changes in that earlier form would get lost).
            </p>

            <a href="#UPDATE_REQUEST" class="btn btn-outline-primary">My previous submission can be cancelled</a>
            <a href="#CONTACT_IMMEDIATELY" class="btn btn-outline-primary">I don't want to lose my changes</a>
        </div>
    </div>

    <div class="card mt-3" id="INCLUSION_REQUEST">
        <div class="card-body">
            <ol class="card-text">
                <li>First please make sure you comply with the <a href="{{ path('rules') }}" target="_blank">rules/requirements</a>.</li>
                <li>To begin, click <a href="{{ path('route_iu_form_step_start') }}" target="_blank">here</a> to acknowledge the rules and fill the inclusion/update form.</li>
                <li>After sending the form be sure to follow any instructions which will appear on the confirmation page.</li>
            </ol>
        </div>
    </div>

    <div class="card mt-3" id="UPDATE_REQUEST">
        <div class="card-body">
            <ol class="card-text">
                <li>Please navigate to the <a href="{{ path('main') }}" target="_blank">main page</a>.</li>
                <li>Find your studio / your name on the list (it may be your old name).</li>
                <li>Click on the name - a details pop-up should show up.</li>
                <li>Look at the bottom of the pop-up. Click the <em>Data outdated/inaccurate?</em> button</li> {# grep-updates-button #}
                <li>Click the link intended for use by makers. Rules will appear, acknowledge them. Next, a form should appear, pre-filled with your old information.</li>
                <li>After sending the form be sure to follow any instructions which will appear on the confirmation page.</li>
            </ol>
        </div>
    </div>

    <div class="card mt-3" id="CONTACT">
        <div class="card-body">
            <p class="card-text">
                If you are waiting over a week already or if you prefer your changes to be on-line as soon as possible, please contact the maintainer immediately using any of the means listed on the <a href="{{ path('info', { _fragment: 'contact'}) }}">info page</a>. Otherwise, please wait a few days. The updates are usually processed once a week on weekends.
            </p>
        </div>
    </div>

    <div class="card mt-3" id="CONTACT_IMMEDIATELY">
        <div class="card-body">
            <p class="card-text">
                Please contact the maintainer using any of the means listed on the <a href="{{ path('info', { _fragment: 'contact'}) }}">info page</a>.
            </p>
        </div>
    </div>

    <div class="card mt-3" id="I_AM_VISITOR">
        <div class="card-body">
            <p class="card-text">
                Do not fill the form. It will get rejected. Please contact the fursuit maker and ask them to do the updates. This is the link you should send them: <a href="{{ path('data_updates') }}">right-click or press&amp;hold then copy link address/URL</a>.
            </p>
        </div>
    </div>
{% endblock %}
