{% extends '_base.html.twig' %}

{% block title %}how to update data{% endblock %}

{% block body_class %}data_updates{% endblock %}

{% block body %}
    <h1>Who adds/updates information on getfursu.it?</h1>

    <p>Only the makers themselves can provide accurate and sufficient information. That's why majority of the information here comes from themselves.</p>

    <ul>
        <li>getfursu.it maintainer will rarely add/update any data on their own.</li>
        <li>If you see that a maker is missing, or their data is outdated, the best you can do is to poke them and ask them to send updates.</li>
        <li>If you are the maker, please follow below instructions to get your information up-to-date.</li>
    </ul>

    <h1 id="how_to_add">How do I get my info added/updated?</h1>

    <div class="card" id="START_HERE">
        <div class="card-body">
            <p class="card-text">
                <strong class="badge badge-success">Start here!</strong> Are you the maker/studio member?
            </p>

            <a href="#I_AM_MAKER" class="btn btn-outline-primary">I am the maker/studio member</a>
            <a href="#I_AM_VISITOR" class="btn btn-outline-primary">I'm a friend or customer or other/non-related</a>
        </div>
    </div>

    <div class="card mt-3" id="I_AM_MAKER">
        <div class="card-body">
            <p class="card-text">
                Have you previously sent an inclusion/update request which seems not to have been processed yet?
            </p>

            <a href="#NEW_REQUEST" class="btn btn-outline-primary">I didn't send anything yet</a>
            <a href="#NEW_REQUEST" class="btn btn-outline-primary">Everything I've sent in the past is already on-line</a>
            <a href="#UPDATES_SENT" class="btn btn-outline-primary">I've sent updates and I don't see them on-line</a>
        </div>
    </div>

    <div class="card mt-3" id="NEW_REQUEST">
        <div class="card-body">
            <p class="card-text">
                Are you/is your studio on the list already (please check old studio names/your own nicknames as well)?
            </p>

            <a href="#UPDATE" class="btn btn-outline-primary">I see my studio / myself on the list</a>
            <a href="#UPDATE" class="btn btn-outline-primary">I see an old name on the list</a>
            <a href="#NEW_MAKER" class="btn btn-outline-primary">My studio is not there / I am not there</a>
        </div>
    </div>

    <div class="card mt-3" id="NEW_MAKER">
        <div class="card-body">
            <ol class="card-text">
                <li>Please make sure you comply with the <a href="{{ path('rules') }}" target="_blank">rules/requirements</a>.</li>
                <li>Click <a href="{{ path('iu_form') }}" target="_blank">here</a> to fill the inclusion/update form. <strong>Please</strong>, be sure to read all the intro information in the form.</li>
                <li>Submit the form and proceed with the next step (important if you want to be sure your updates got in).</li>
            </ol>

            <a href="#UPDATES_SENT" class="btn btn-outline-primary">Next step (click <strong>after</strong> filling the form)</a>
        </div>
    </div>

    <div class="card mt-3" id="UPDATE">
        <div class="card-body">
            <ol class="card-text">
                <li>Please navigate to the <a href="{{ path('main') }}" target="_blank">main page</a>.</li>
                <li>Find your studio / your name on the list (it may be your old name).</li>
                <li>Click on the name - a details pop-up should show up.</li>
                <li>Look at the bottom of the pop-up. There should be a link to the inclusion/update form.</li>
                <li>Click the link. A form should appear, pre-filled with your old information. <strong>Please</strong>, be sure to read all the intro information in the form.</li>
                <li>Send updates and proceed with the next step (important if you want to be sure your updates got in).</li>
            </ol>

            <a href="#UPDATES_SENT" class="btn btn-outline-primary">Next step (click <strong>after</strong> filling the form)</a>
        </div>
    </div>

    <div class="card mt-3" id="UPDATES_SENT"> {# grep-iu-submission-updates-sent #}
        <div class="card-body">
            <p class="card-text">
                Which statement best describes your situation?
            </p>

            <a href="#PASSCODE_OK" class="btn btn-outline-primary">I/my studio wasn't on the list already (this was an inclusion request)</a>
            <a href="#PASSCODE_OK" class="btn btn-outline-primary">I am sure I provided correct passcode</a>
            <a href="#PASSCODE_UNSURE" class="btn btn-outline-primary">Neither of those / I'm not sure</a>
        </div>
    </div>

    <div class="card mt-3" id="PASSCODE_UNSURE">
        <div class="card-body">
            <p class="card-text">
                In the form, there's a question if the maintainer is allowed to contact you. Which statement best describes your situation?
            </p>

            <a href="#CONTACT_MAINTAINER" class="btn btn-outline-primary">I've changed from <em>No contact allowed</em> to other value</a>
            <a href="#CONTACT_MAINTAINER" class="btn btn-outline-primary">I've selected <em>No contact allowed</em></a>
            <a href="#CONTACT_MAINTAINER" class="btn btn-outline-primary">I don't remember</a>
            <a href="#PASSCODE_OK" class="btn btn-outline-primary">Neither of those</a>
        </div>
    </div>

    <div class="card mt-3" id="PASSCODE_OK">
        <div class="card-body">
            <p class="card-text">
                Which statement best describes your situation?
            </p>

            <a href="#CONTACT_MAINTAINER" class="btn btn-outline-primary">I prefer my updates being included as soon, as possible</a>
            <a href="#CONTACT_MAINTAINER" class="btn btn-outline-primary">I have doubts/questions</a>
            <a href="#WAIT_ONE_WEEK" class="btn btn-outline-primary">Neither of those</a>
        </div>
    </div>

    <div class="card mt-3" id="WAIT_ONE_WEEK">
        <div class="card-body">
            <p class="card-text">
                Please wait a few days. If you are waiting more than a week, and the updates are still not there, please contact this website's maintainer using any of the means listed on the <a href="{{ path('info', { _fragment: 'contact'}) }}">info page</a>.
            </p>
        </div>
    </div>

    <div class="card mt-3" id="CONTACT_MAINTAINER">
        <div class="card-body">
            <p class="card-text">
                Please contact this website's maintainer using any of the means listed on the <a href="{{ path('info', { _fragment: 'contact'}) }}">info page</a>.
            </p>
        </div>
    </div>

    <div class="card mt-3" id="I_AM_VISITOR">
        <div class="card-body">
            <p class="card-text">
                Please do not fill the inclusion/update form. It will get rejected. Please contact the fursuit maker/studio and ask them to do the updates. This is the link you should send them: <a href="{{ path('data_updates') }}">right-click or press&amp;hold then copy link address/URL</a>.
            </p>
        </div>
    </div>
{% endblock %}
