{% extends '_base_with_toc.html.twig' %}

{% block title %}general information{% endblock %}

{% block contents %}
    <h3 id="introduction" class="mt-2">OwO what's this?</h3>

    <p>
        This is basically what you can see on <a href="{{ path('main') }}">this page</a>. A list of fursuit makers.
    </p>

    <h3 id="data-updates">How to add/update your studio/maker info</h3>

    <p class="text-center overflow-x-auto">
        <a href="{{ path('iu_form_step_start') }}" class="btn btn-warning btn-lg my-1">
            <i class="fas fa-plus-circle"></i> Add/update my studio
        </a>
        <a href="{{ path('rules') }}" class="btn btn-secondary btn-lg my-1">
            <i class="fas fa-balance-scale"></i> Rules
        </a>
    </p>

    <h3 id="should-know">Getting a fursuit - what you should know</h3>

    <p>
        Before looking for fursuit, you <a href="{{ path('should_know') }}">should read this</a>. You can find some explanation and advice (including safety).
    </p>

    <h3 id="help-needed">How can you help</h3>

    <ul>
        <li>See a maker missing? - Let them know about this website!</li>
        <li>See outdated data? - <a href="{{ path('feedback_form') }}">Report it</a>!</li>
        <li>Encountered a bug? - <a href="{{ path('feedback_form') }}">Report it</a>!</li>
        <li>Want a feature added/improved? - <a href="{{ path('feedback_form') }}">Let me know</a>!</li>
        <li>Own a fursuit already? - <a href="https://forms.fursuitreview.com/">Submit a review</a>!</li>
        <li>Do you find this website helpful? - Spread awareness about it!</li>
    </ul>

    <h3 id="contact">Contact maintainer</h3>

    <p>
        Please find the contact option on the <a href="{{ path('contact') }}">contact page</a>.
    </p>

    <h3 id="tracking">Tracking of commissions status</h3>

    <p>
        getfursu.it has a limited capability of tracking if makers are open or closed for quotes<wbr>/commissions<wbr>/etc. This information is updated twice a day. {# grep-tracking-frequency #} Explanation and all the information is available <a href="{{ path('tracking') }}">here</a>.
    </p>

    <h3 id="maker-ids">Maker IDs</h3>

    <p>
        getfursu.it uses "maker IDs" to identify makers/studios. An example of such ID could be: "AWSMMKR". You can read more about them <a href="{{ path('maker_ids') }}">here</a>.
    </p>

    <h3 id="tasklist">Plans/features/bugs</h3>

    <p>
        Know bugs, requested features and other stuff is tracked on <a href="https://github.com/veelkoov/fuzzrake/issues?q=is:open+is:issue+-label:tech">GitHub</a>.
    </p>

    <h3 id="statistics">Statistics</h3>

    <p>Fan of statistics? <a href="{{ path('statistics') }}">There are some</a>.</p>

    <h3 id="friends">Friends</h3>

    <p>
        <a href="https://fursuitmaterials.com/">FursuitMaterials.com</a> - great resource for fursuit makers and
        DIY folks.
    </p>
    <p>
        <a href="https://fursuitreview.com/">FursuitReview (fursuitreview.com)</a> - a place to look for reviews of fursuit
        makers' creations. Don't forget to submit yours!
    </p>
    <p>
        <a href="https://artistsbeware.info/">Artists Beware (artistsbeware.info)</a> - both for checking businesses and clients, and a resource of advice regarding business transactions.
    </p>
    <p>
        <a href="https://www.furaffinity.net/user/slatemist/" id="artist">AngoraRam</a> - the artist behind the artwork
        on this website.
    </p>
    <p>
        <a href="https://scritch.es/">Scritch</a> and <a href="https://www.furtrack.com/">Furtrack</a>
        - are <strong>the</strong> places for fursuit photos, and they agreed to serve photos of suits which
        you can find here (not a lot of them yet...)
    </p>

    <h3 id="licenses">Licenses</h3>

    <p>
        License terms for graphics used on this website are available under each of the image used in the
        <a href="https://www.furaffinity.net/user/slatemist/">artist's FurAffinity gallery</a>.
        <a href="https://www.furaffinity.net/view/28153774/">[1]</a>
        <a href="https://www.furaffinity.net/view/28153811/">[2]</a>
        <a href="https://www.furaffinity.net/view/28682077/">[3]</a>
        <a href="https://www.furaffinity.net/view/28682113/">[4]</a>
    </p>

    <p>
        Except where otherwise noted, all data&amp;information available on this website is licensed under <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Snapshots of the data can be found in <a href="https://github.com/veelkoov/fuzzrake-data">the GitHub repository</a>.
    </p>

    <p>
        The software powering this website is licensed under the <a href="https://github.com/veelkoov/fuzzrake/blob/master/LICENSE">GNU Affero General Public License v3</a>. The source code can be found in <a href="https://github.com/veelkoov/fuzzrake">the GitHub repository</a>.
    </p>
{% endblock %}
