{% extends '_base.html.twig' %}

{% block title %}general information{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
    {{ encore_entry_script_tags('info') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm">
            <h3 id="introduction">OwO what's this?</h3>
            <p>
                This is basically what you can see on <a href="{{ path('main') }}">this page</a>. A list of fursuit makers.
            </p>

            <h3>Help needed!</h3>
            <ul>
                <li>Know a maker, who's missing on this list? - Let them know about this website!</li>
                <li>See outdated information? - Report it! (you can do this from the main page)</li>
                <li>Encountered a bug? - <a href="{{ feedback_form_url }}">Report it</a>!</li>
                <li>Want a feature added/improved? - <a href="{{ feedback_form_url }}">Let me know</a>!</li>
                <li>Post a link to this website on Facebook/Twitter/forums/your blog/your webpage</li>
                <li>Own a fursuit already? - <a href="https://forms.fursuitreview.com/">Submit a review</a>!</li>
            </ul>

            <h3 id="commissions-status-tracking">
                Commission Status Tracker
            </h3>

            <p>
                You don't have to update your commissions status (open/closed) on this website. getfursu.it can
                check for updates on <b>your</b> website, twice a day, and update it here. {# grep-tracking-frequency #}
                Explanation and all the information is available <a href="{{ path('tracking') }}">here</a>.
            </p>

            <h3>Friends</h3>

            <p>
                <a href="http://fursuitmaterials.com/">fursuitmaterials.com</a> - great resource for fursuit makers and
                DIY folks.
            </p>
            <p>
                <a href="http://fursuitreview.com/">fursuitreview.com</a> - a place to look for reviews of fursuit
                makers' creations. Don't forget to submit yours!
            </p>
            <p>
                <a href="https://www.furaffinity.net/user/slatemist/" id="artist">AngoraRam</a> - the artist behind the artwork
                on this website.
            </p>
            <p>
                <a href="https://scritch.es/">Scritch</a> and <a href="https://www.furtrack.com/">Furtrack</a>
                - are <strong>the</strong> places for fursuit photos, and they agreed to serve photos of suits which
                you can find here (not a lot of them yet...)
            </p>
        </div>

        <div class="col-sm">
            <h3 id="data-updates">
                Add your studio/maker info to the list
            </h3>

            <p class="text-center overflow-x-auto">
                <a href="{{ path('data_updates') }}" class="btn btn-warning btn-lg my-1">
                    <i class="fas fa-plus-circle"></i> Add my studio
                </a>
                <a href="{{ path('rules') }}" class="btn btn-secondary btn-lg my-1">
                    <i class="fas fa-balance-scale"></i> Rules
                </a>
            </p>

            <h3 id="contact">Contact maintainer</h3>

            <p>
                <strong>Please do not contact me if you are looking for a fursuit.</strong> I provide support for fursuit makers only. I am not a maker myself, I don't make fursuits, I am merely a "webmaster". The only thing I can do for you, is this website.
            </p>

            <p class="text-center overflow-x-auto">
                <span id="protected-contact-info"></span>
            </p>

            <p class="small">
                If the e-mail address didn't appear above, it means the automatic captcha failed. In that case please try using a different browser or device or network.
            </p>

            <h3 id="tasklist">Plans/features/bugs</h3>

            <p class="text-center">
                <a href="https://github.com/veelkoov/fuzzrake/issues?q=is:open+is:issue+-label:tech"
                   class="btn btn-primary my-1 btn-sm"><i class="fab fa-github"></i> GitHub</a>
            </p>

            <h3 id="licenses">Licenses</h3>

            <p>
                Except where otherwise noted, all data&amp;information available on this website is licensed
                under <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative
                    Commons Attribution-ShareAlike 4.0 International License</a>.
            </p>

            <p>
                License terms for graphics used on this website are available under each of the image used in the
                <a href="https://www.furaffinity.net/user/slatemist/">artist's FurAffinity gallery</a>.
            </p>

            <p>
                The software ("Fuzzrake") is licensed under the
                <a href="https://github.com/veelkoov/fuzzrake/blob/master/LICENSE">GNU Affero General Public License v3</a>.
                The source code can be found in <a href="https://github.com/veelkoov/fuzzrake">the GitHub repository</a>.
            </p>
        </div>
    </div>
{% endblock %}
