{% extends '_base.html.twig' %}

{% block title %}General information{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('info') }}
    {{ encore_entry_script_tags('toc') }}

    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('toc') }}
{% endblock %}

{% block body %}
    <h1 class="visually-hidden">General information</h1>

    <div class="row">
        <aside class="col-lg-3 sticky-lg-top overflow-auto" style="height: calc(100% - 6rem);">
            <h5 class="pt-2">Table of contents</h5>
            <div id="sk-toc"></div>
        </aside>

        <div id="sk-content" class="col-lg-9" data-bs-spy="scroll" data-bs-target="#sk-toc">
            {% include 'pages/information_contents.html.twig' %}
        </div>
    </div>
{% endblock %}
