{% extends '_base.html.twig' %}

{% block title %}information about automated status tracking{% endblock %}

{% block body %}
    <h1>Automatic tracking and status updates</h1>

    <p>
        getfursu.it has limited ability to track and update commissions status (open/closed). On this page:
    </p>

    <ol>
        <li><a href="#tracking_overview">Overview - how this works</a></li>
        <li><a href="#tracking_limitations">Limitations</a></li>
        <li>
            Do's and dont's
            <ol>
                <li><a href="#tracking_dos_donts_websites">Websites: unsupported and supported</a></li>
                <li><a href="#tracking_dos_donts_status">Status: what (not) to post</a></li>
            </ol>
        </li>
        <li><a href="#tracking_how_to_enroll">How to enroll</a></li>
    </ol>

    <h1 id="tracking_overview">Overview - how this works</h1>

    <div class="row py-4">
        <div class="col-sm-8">
            <h2>1. Maker fills inclusion/update form</h2>
            <p>
                Fursuit maker decides which of their webpages getfursu.it should monitor for updates. To do that, the maker needs to send the inclusion/update form. This must be done every time the address changes (e.g. the maker decided to abandon one social platform and now posts the updates elsewhere).
            </p>
        </div>
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/1_form.webp') }}" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row py-4">
        <div class="col-sm-8">
            <h2>2. Inclusion/update form gets processed</h2>
            <p>
                The address which was selected by the maker to be tracked by getfursu.it gets saved into the database along with all the information included in the inclusion/update form.
            </p>
        </div>
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/2_into_the_db.webp') }}" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row py-4">
        <div class="col-sm-12">
            <h2>3. Periodic updates</h2>
            <p>
                With the tracked webpage address in the database, the rest of the process is automated. This is what happens behind the scenes:
            </p>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-sm-8">
            <h3>3.1. Reading list of addresses</h3>
            <p>
                getfursu.it retrieves the list of webpages' addresses which it's supposed to monitor, from the database where they are being kept.
            </p>
        </div>
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/3_pariodical_read.webp') }}" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row py-4">
        <div class="col-sm-8">
            <h3>3.2. Fetching webpages</h3>
            <p>
                Having the list of addresses, getfursu.it checks all the webpages and tries to figure out commissions' statuses.
            </p>
        </div>
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/4_fetch_webpages.webp') }}" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row py-4">
        <div class="col-sm-8">
            <h3>3.3. Updating the database</h3>
            <p>
                After determining the statuses, getfursu.it updates the makers' data in the database.
            </p>
        </div>
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/5_update_db.webp') }}" alt="" class="img-fluid">
        </div>
    </div>

    <div class="row py-4">
        <div class="col-sm-8">
            <h3>3.4. Updates are on-line!</h3>
            <p>
                After the database got updated, getfursu.it visitors will see the statuses as determined from the webpages, where makers originally published updates.
            </p>
        </div>
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/6_online.webp') }}" alt="" class="img-fluid">
        </div>
    </div>

    <p>
        Now that you've read this you should understand how this works and why I decided to give up on learning how to draw and instead focused on getfursu.it development. <small class="text-muted">Disclaimer: images <strong>below</strong> were <strong>not</strong> drawn by me, obviously. Artist is credited on the <a href="{{ path('info', { _fragment: 'artist' }) }}">info page</a>.</small>
    </p>

    <h1 id="tracking_limitations">Limitations</h1>

    <ul>
        <li>
            <strong>Updates are delayed</strong>: getfursu.it updates statuses twice a day, so it may even take 12 hours for the updates done by a maker to be reflected here. Take this into account if you are waiting for your beloved maker to open. You'd better follow their social media or other stuff.
        </li>
        <li>
            getfursu.it is able to track only one, overall status ("we're open/closed"). It's unable to properly handle e.g. websites displaying <em>open for parts; closed for fullsuits</em>.
        </li>
        <li>
            Some websites are not supported (see below).
        </li>
        <li>
            The software will not "click" any links, buttons, etc. Please, for tracking provide exact address of where the status is.
        </li>
        <li>
            Only simple English language is supported.
        </li>
        <li>
            The software can make mistakes and will use the privilege.
        </li>
    </ul>

    <h1>Do's and dont's</h1>

    <h2 id="tracking_dos_donts_websites">Websites: unsupported and supported</h2>

    <div class="row">
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/dont.webp') }}" alt="Unsupported webpages" class="img-fluid">
        </div>
        <div class="col-sm">
            <ul>
                <li>
                    Blog entries, posts, journals, tweets, etc. - unpinned. <small class="text-muted">If you post new stuff and the original post/entry/etc. will move to the second page, this will fail. If you unpin the original and pin another post/message/journal/etc. this will fail. This <strong>may</strong> work if you only edit the pinned item, but not unpin and pin another.</small>
                </li>
                <li>
                    Fur Affinity :( <small class="text-muted">I am sorry to list it here, but as long as the DDoS protection will affect getfursu.it, I cannot recommend this.</small>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/do.webp') }}" alt="Supported webpages" class="img-fluid">
        </div>
        <div class="col-sm">
            <ul>
                <li>Most of generic websites</li>
                <li>Twitter profile info</li>
                <li>Instagram profile info</li>
                <li>Facebook "about" pages</li>
                <li>Trello <strong>sometimes</strong> work</li>
                <li>DeviantArt profile info <strong>should</strong> work (untested)</li>
            </ul>
        </div>
    </div>

    <h2 class="mt-4" id="tracking_dos_donts_status">Status: what (not) to post</h2>

    <div class="row">
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/dont.webp') }}" alt="Don't post statuses like these" class="img-fluid">
        </div>
        <div class="col-sm">
            <ul>
                <li>
                    Status on/as an image <small class="text-muted">If you publish your status using cool, fancy font on a pretty image, getfursu.it won't read that. This <strong>could</strong> work if you named the image specifically, e.g. <code>commissions_open.png</code>, or added the status in the <code>alt</code> attribute.</small>
                </li>
                <li>
                    <em>cOwOmissions open! :)</em> <small class="text-muted">No fancy wording, please. getfursu.it "gets" simple English only.</small>
                </li>
                <li>
                    <em>Partials: open, fullsuits: close</em> <small class="text-muted">Sorry, getfursu.it can track only one "overall" status. You will be listed only if all stuff is open or all stuff is closed.</small>
                </li>
                <li>
                    <em>Commissions open in February!</em> <small class="text-muted">Better solution below.</small>
                </li>
                <li>
                    <em>3 slots left!</em> <small class="text-muted">Better solution below.</small>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/do.webp') }}" alt="These statuses are clear and OK" class="img-fluid">
        </div>
        <div class="col-sm">
            <ul>
                <li>
                    <em>Commissions: open</em> / <em>We're open</em> / etc.
                </li>
                <li>
                    <em>Commissions closed, opening in February!</em>
                </li>
                <li>
                    <em>Commissions open, 3 slots left!</em>
                </li>
            </ul>
        </div>
    </div>

    <h1 id="tracking_how_to_enroll" class="mt-4">How to enroll</h1>

    <p>
        To make getfursu.it track and update your status, make sure your website complies with the above recommendations and <a href="{{ path('data_updates') }}">send the inclusion/update form</a>, providing the website's address in correct field. Make sure the status is visible immediately when you navigate to the address of your choice (no link clicks/actions required; scrolling is OK).
    </p>

    <p>
        <a href="{{ path('info', { _fragment: 'contact' }) }}">Contact me</a> in case of any doubts/problems!
    </p>
{% endblock %}
