{% extends '_base_with_toc.html.twig' %}

{% block title %}Automated tracking and status updates{% endblock %}

{% block contents %}
    <h1 id="general-idea">General idea</h1>

    <p>
        To allow getfursu.it visitors filter by commissions status, makers can choose a page to be tracked. The tracking happens twice a day. Once the maker announces opening on their page, it should be reflected here within half a day. {# grep-code-tracking-frequency #}
    </p>

    <h1 id="limitations">Limitations</h1>

    <ul>
        <li>
            <strong>Updates are delayed</strong>: getfursu.it updates statuses twice a day, so it may even take 12 hours for the updates done by a maker to be reflected here. Take this into account if you are waiting for your beloved maker to open. You'd better follow their social media or other stuff. {# grep-code-tracking-frequency #}
        </li>
        <li>
            The software can make mistakes and will use the privilege.
        </li>
        <li>
            Some websites are not supported (see below). This includes those requiring visitors to be registered&amp;logged in.
        </li>
        <li>
            getfursu.it is unable to "click" any links, buttons, etc. Exact address, where the status is published, must be submitted to getfursu.it.
        </li>
        <li>
            Only simple English language is supported.
        </li>
    </ul>

    <h1 id="makers-how-to-enroll" class="mt-4">Makers - How to enroll</h1>

    <p>
        To make getfursu.it track and update your status, familarize yourself with the <em>Limitations</em> (above) and check the <em>Do's and dont's</em> (below). Then you can choose the page to be tracked by <a href="{{ path('iu_form_step_start') }}">filling the inclusion/update form</a>, providing the tracked page's address in correct field.
    </p>

    <p>
        It's easy to forget about the tracking once set up. <strong>Remember:</strong> whenever you change address of your website, or sometimes even rename the page (which can cause address to change in some <a href="https://en.wikipedia.org/wiki/Content_management_system#Installation_type" target="_blank">CMSes</a>), getfursu.it will not automatically update that - you will need to send the form again.
    </p>

    <p>
        <a href="{{ path('contact') }}">Contact me</a> in case of any doubts/problems!
    </p>

    <h1 id="makers-dos-and-donts">Makers - Do's and dont's</h1>

    <h2 id="websites-unsupported-and-supported">Websites: unsupported and supported</h2>

    <div class="row">
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/dont.webp') }}" alt="Unsupported webpages" class="img-fluid">
        </div>
        <div class="col-sm">
            <ul>
                <li>
                    Blog entries, posts, journals, tweets, etc. - unpinned. <small class="text-body-secondary">If you post new stuff and the original post/entry/etc. will move to the second page, this will fail. If you unpin the original and pin another post/message/journal/etc. this will fail. This <strong>may</strong> work if you only edit the pinned item, but not unpin and pin another.</small>
                </li>
                <li>
                    Facebook. <small class="text-body-secondary">I don't recommend using it for tracking. It's unpredictable regarding when it requires to log in. Can't guarantee getfursu.it will be able to check your page. If you want to use it either way (at your own risk), I recommend putting the commissions info into your "about" page and tracking it.</small>
                </li>
                <li>
                    Instagram. <small class="text-body-secondary">They seem to do some shenanigans around the requirement to be logged in. I was moving this between "supported" and "unsupported" from time to time, it was real fun, and at this point I'm done.</small>
                </li>
                <li>
                    Twitter. <small class="text-body-secondary">Profiles tracking worked very well for a long time, and then Space Karen happened.</small>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/do.webp') }}" alt="Supported webpages" class="img-fluid">
        </div>
        <div class="col-sm">
            <ul>
                <li>
                    Fur Affinity (best option is to use the profile info, while avoiding journals, etc.). <small class="text-body-secondary"><strong>NOTE 1</strong>: Your user profile must be publicly visible, log-in requirement will break tracking! <strong>NOTE 2</strong>: "Accepting Commissions" user setting is deliberately ignored by default, because most FA users, which are being tracked getfursu.it, don't pay attention to keeping that in sync with what they put in their profile description. If you need getfursu.it to track your "Accepting Commissions" setting, please state that clearly in the notes! If you only put your status as text in your profile, you are good to go. <strong>NOTE 3</strong>: There were issues with accessing FA in the past, but stuff seems to be working fine now.</small>
                </li>
                <li>Most of generic websites.</li>
                <li>Trello usually works and there's an incoming improvement of the tracker, which should make it even more reliable.</li>
                <li>DeviantArt profile info <strong>should</strong> work (untested).</li>
                <li>Early tests have shown that Mastodon has potential; I'd happily assist you if you want to try it out!</li>
                <li>Other websites may be supported as well.</li>
            </ul>
        </div>
    </div>

    <h2 class="mt-4" id="status-what-not-to-post">Status: what (not) to post</h2>

    <div class="row">
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/dont.webp') }}" alt="Don't post statuses like these" class="img-fluid">
        </div>
        <div class="col-sm">
            <ul>
                <li>
                    Status on/as an image <small class="text-body-secondary">If you publish your status using cool, fancy font on a pretty image, getfursu.it won't read that. This <strong>could</strong> work if you named the image specifically, e.g. <code>commissions_open.png</code>, or added the status in the <code>alt</code> attribute.</small>
                </li>
                <li>
                    <em>cOwOmissions open! :)</em> <small class="text-body-secondary">No fancy wording, please. getfursu.it "gets" simple English only.</small>
                </li>
                <li>
                    <em>Commissions open in February!</em> <small class="text-body-secondary">Depending on how you word it, you may fool getfursu.it into "thinking" you are open <u>now</u>. Better solution below.</small>
                </li>
                <li>
                    <em>3 slots left!</em> <small class="text-body-secondary">Better solution below.</small>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-4 text-center img-tracking">
            <img src="{{ asset('images/tracking/do.webp') }}" alt="These statuses are clear and OK" class="img-fluid">
        </div>
        <div class="col-sm">
            <p>Examples of status descriptions getfursu.it is able to track:</p>
            <ul>
                <li>
                    <em>Commissions: open</em> / <em>We're open</em> / etc.
                </li>
                <li>
                    <em>Commissions are closed, quotes are open!</em>
                </li>
                <li>
                    <em>Commissions closed, opening in February!</em> <small class="text-body-secondary">This works, because it contains the clear message "commissions closed"</small>
                </li>
                <li>
                    <em>Commissions open, 3 slots left!</em> <small class="text-body-secondary">This works, because it contains the clear message "commissions open"</small>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
