<nav id="navbar" class="navbar mb-2">
    <div class="navbar-main navbar-nav">
        {{ include('_menu_item.html.twig', {name: 'main', fa_icon: 'home', label: 'Home', priority: 'high'}) }}
        {{ include('_menu_item.html.twig', {name: 'info', fa_icon: 'circle-info', label: 'About', priority: 'high'}) }}
        {{ include('_menu_item.html.twig', {
            name: 'events',
            fa_icon: 'newspaper',
            label: 'News',
            priority: 'high',
            type: 'news',
            data_attrs: {
                'latest-event': get_latest_event_timestamp(),
            },
        }) }}
        {% if is_dev_env() %}
            {{ include('_menu_item.html.twig', {name: 'mx_artisan_new', fa_icon: 'plus', label: 'Maker', priority: 'low'}) }}
            {{ include('_menu_item.html.twig', {name: 'mx_event_new', fa_icon: 'plus', label: 'Event', priority: 'low'}) }}
            {{ include('_menu_item.html.twig', {name: 'mx_artisans_urls', fa_icon: 'link', label: 'URLs', priority: 'low'}) }}
            {{ include('_menu_item.html.twig', {name: 'mx_query', fa_icon: 'filter', label: 'Query', priority: 'low'}) }}
            {{ include('_menu_item.html.twig', {name: 'mx_submissions', fa_icon: 'file-lines', label: 'Submissions', priority: 'low'}) }}
        {% endif %}
        <div class="nav-separator"></div>
        {{ include('_menu_item.html.twig', {name: 'iu_form_step_start', fa_icon: 'user-gear', label: 'Fursuit Makers', priority: 'medium'}) }}
        {{ include('_menu_item.html.twig', {name: 'donate', fa_icon: 'circle-dollar-to-slot', label: 'Donate', priority: 'medium'}) }}
        {{ include('_menu_item.html.twig', {name: 'contact', fa_icon: 'envelope', label: 'Contact', priority: 'medium'}) }}
        <button class="nav-overflow-menu-button">
            <i class="fas fa-chevron-down"></i>
        </button>
        <button class="nav-mobile-drawer-button">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="nav-menu-backdrop"></div>
    <div class="nav-dropdown-menu navbar-nav"></div>
</nav>
