{% set is_active = app.request.attributes.get('_route') == name %}

<a
    {% if priority is defined %}data-priority="{{ priority }}"{% endif %}
    class="{{ html_classes('nav-link', {
        active: is_active
    }) }}"
    {% if is_active %}aria-current="page"{% endif %}
    href="{{ path(name) }}"
>
    <i class="fas fa-{{ fa_icon }}"></i>
    <span class="label">
        <div class="spacer">{{ label }}</div>
        <div class="displayed">{{ label }}</div>
    </span>
</a>
