{% extends '_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('main') }}

    <script>
        {% include 'main/parts/data.js.twig' %}
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    <div id="loading-indicator-container" class="fixed-bottom text-center">
        <div class="container p-md-5 pb-2 pb-md-2 text-start">
            <div  class="alert alert-primary shadow" role="alert">
                <h4 class="alert-heading">
                    Loading, please wait. <small class="text-muted" id="loading-indicator-message"></small>
                </h4>

                <hr>

                <p class="small mb-1">If it is stuck for more than half a minute, you may want to try:</p>

                <ul class="small mb-0">
                    <li>refreshing the page / clearing the cache</li>
                    <li>using the "incognito mode"</li>
                    <li>using other browser or device</li>
                </ul>
            </div>
        </div>
    </div>

    {% include '_loading.html.twig' %}

    {% include 'main/modals/filters.html.twig' %}

    {% include 'main/modals/legend.html.twig' %}

    {% include 'main/parts/intro.html.twig' %}

    {% include 'main/parts/checklist.html.twig' %}

    <div id="main-primary-component"></div>

    <div class="container text-center">
        <img src="{{ asset('images/website-banner-bottom.webp') }}" class="img-fluid" alt="">
    </div>
{% endblock %}
