{% extends '_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/datatables.min.js"></script>
    {{ encore_entry_script_tags('main') }}
    <script>
        {% include 'main/parts/data.js.twig' %}
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.10.25/b-1.7.1/b-colvis-1.7.1/datatables.min.css" />
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    {% include 'main/modals/filters.html.twig' %}

    {% include 'main/modals/legend.html.twig' %}

    <div class="modal fade" id="artisanUpdatesModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" id="artisanUpdatesModalContent"></div>
        </div>
    </div>

    <div class="modal fade" id="artisanDetailsModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content artisan-data" id="artisanDetailsModalContent"></div>
        </div>
    </div>

    {% include 'main/parts/intro.html.twig' %}

    {% include 'main/parts/checklist.html.twig' %}

    <div id="data-loading-message" class="alert alert-primary" role="alert">
        The data is being processed. This may take several seconds. If it's stuck for
        <strong>more than half a minute</strong>, you may want to try:

        <ul>
            <li>refreshing the page / clearing the cache</li>
            <li>using the "incognito mode"</li>
            <li>using other browser or device</li>
        </ul>
    </div>

    <div id="checklist-done" style="display: none;">
        <div id="data-table-container" style="display: none;">
            {% include 'main/table/body.html.twig' %}
        </div>
    </div>

    <div class="container text-center">
        <img src="{{ asset('images/website-banner-bottom.webp') }}" class="img-fluid" alt="">
    </div>
{% endblock %}
