{% extends '_base.html.twig' %}

{% block title %}inclusion/update request{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('iu_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('iu_form') }}
{% endblock %}

{% block body %}
    <h1>{{ block('title')|capitalize }}</h1>

    {{ include('shared_parts/big_scary_error.html.twig') }}

    {{ include('iu_form/shared_parts/form_errors_top.html.twig') }}

    {{ form_start(form) }}

    {{ include('iu_form/shared_parts/session_info.html.twig') }}

    <h2 class="mt-5 mb-3">Contact</h2>

    <div class="row">
        <div class="col-lg-4">
            <div class="mandatory">
                {{ form_row(form.contactAllowed) }}
            </div>
        </div>
        <div class="col-lg-8 pb-4">
            <p>Based on your choice:</p>

            <span class="pros-cons-contact-options" data-min-level="-1" data-max-level="-1">
                <i class="fas fa-question-circle"></i>
                Please choose your preferred setting<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="0" data-max-level="0">
                <i class="fa-regular fa-circle-xmark"></i>
                <strong>Any serious issue makes your submission rejected without a notice.</strong><br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="1" data-max-level="3">
                <i class="fa-regular fa-square-check"></i>
                Get contacted when there's an issue with your submission (e.g. wrong password).<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="2" data-max-level="3">
                <i class="fa-regular fa-square-check"></i>
                Get notified about new features available to better advertise your studio.<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="0" data-max-level="1">
                <i class="fa-regular fa-circle-xmark"></i>
                You may miss important changes and new features, e.g. filters. That may push your studio into "Unknown" classification, skipped/rated lower by some users.<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="3" data-max-level="3">
                <i class="fa-regular fa-square-check"></i>
                You may occasionally receive a survey to best understand your needs as a maker and make this website suit you better. You are <strong>not</strong> obliged in any way to respond, nor provide all and complete answers.<br />
            </span>
            <span class="pros-cons-contact-options small" data-min-level="0" data-max-level="2">
                <i class="fa-regular fa-circle-xmark"></i>
                Your chances to impact how this website works will be limited.<br />
            </span>
            <span class="pros-cons-contact-options small" data-min-level="1" data-max-level="3">
                <i class="fa-regular fa-square-check"></i>
                Opt-out anytime, by simply replying, or sending an update here.<br />
                <i class="fa-regular fa-square-check"></i>
                Your contact info will never be shared with anyone.<br />
                <i class="fa-regular fa-square-check"></i>
                No 3rd party advertising. The only advertising which <strong>may</strong> appear in the future, would be banners on the website.<br />
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="contact_info" class="mandatory">
                {{ form_row(form.emailAddressObfuscated) }}
            </div>
        </div>
    </div>

    <hr class="mt-5" />
    <h2 class="mb-3">Password</h2>

    <div class="mandatory">
        {{ form_row(form.password) }}
    </div>

    <div class="{% if not is_update %}d-none{% endif %}">
        {{ form_row(form.changePassword) }}

        <p class="d-none border bg-primary-subtle ml-5 p-2" id="forgotten_password_instructions">
            Please type in a <strong>new</strong> password you want to use in the field above.
        </p>

        <div id="verification_acknowledgement" class="{% if not was_contact_allowed %}contact-was-not-allowed{% endif %}">
            {{ form_row(form.verificationAcknowledgement) }}
        </div>
    </div>

    <hr class="mt-5" />
    <h2 class="mb-3">Other/remarks/additional information</h2>

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.notes) }}
        </div>
    </div>

    {{ form_widget(form.back) }}
    <input type="submit" class="btn btn-primary" value="Submit" />

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}
