{% extends '_base.html.twig' %}

{% import 'iu_form/parts/macros.html.twig' as macros %}

{% block title %}inclusion/update request{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('iu_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('iu_form') }}
{% endblock %}

{% block body %}
    <h1 id="iu-form-data" data-step="data" data-creator-id="{{ creator_id }}">{{ block('title')|capitalize }}</h1>

    {{ include('shared_parts/big_scary_error.html.twig') }}

    {{ form_start(form) }}

    <div class="card border-dark mb-3">
        <div class="card-body">
            <p class="card-text p-0 m-0 float-start">
                <!-- FIXME: Too much info, hide until first save  -->
                This is {% if is_new %}a request to add new maker{% else %}an update request for an existing maker{% endif %}.
                The data has been changed last on <span id="iu-form-start-time"></span>.
            </p>

            <p class="card-text text-end p-0 m-0 float-end">
                <button type="button" id="iu-form-reset-button" class="btn btn-sm btn-outline btn-outline-danger btn">
                    Start over or withdraw
                </button>
            </p>
        </div>
    </div>

    {% if errors is not empty %}
        <div class="alert alert-danger" role="alert" id="form_errors_top">
            <h4 class="alert-heading">Errors encountered</h4>

            <ul>
                {% for error in errors %}
                    <li>
                        {% set label = error.origin.config.getOption('label')|default('General')|split('<br />', 2)[0] %}
                        {% set is_html = error.origin.config.getOption('label_html') %}

                        <strong>{{ is_html ? label|raw : label }}</strong> - {{ error.message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ include(('iu_form/parts/instructions.html.twig')) }}

    <h2 class="mt-4">General info</h2>

    {{ macros.help_modal('sinceForMultipleMakers', 'What if my studio has multiple makers?', "
        <p>
            Since it's not possible to provide this information more than once, you will need to decide what information to provide to be fair to your clients.
        </p>
        <p>
            Does your studio have a senior, who supervises the work and handles all reparis/improvements? Would it be OK to state their experience if they guarantee their quality? Do you have multiple cooperating makers with rather similar experience - can you provide their average? Or you could just choose the younger maker's experience to state.
        </p>
    ") }}

    <div class="row">
        <div class="col-lg-7">
            <div class="mandatory">
                {{ form_row(form.name) }}
            </div>

            <div class="important">
                {{ form_row(form.formerly) }}
            </div>
        </div>

        <div class="col-lg-5">
            <div class="mandatory">
                {{ form_row(form.makerId) }}
            </div>
            <div class="recommended">
                {{ form_row(form.since) }}

                <p class="form-text help-text form-help-pull-up">
                    {{ macros.help_link('sinceForMultipleMakers', 'text-decoration-none fw-light', 'What if my studio has multiple makers?') }}
                </p>
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Location &amp; languages</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="mandatory">
                {{ form_row(form.country) }}
            </div>

            <div class="recommended">
                {{ form_row(form.state) }}
            </div>
        </div>

        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.city) }}
            </div>

            <div class="recommended">
                {{ form_row(form.languages) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2 class="mandatory">Links to websites</h2>

    <div>
        <ol>
            <li>You must provide at least one link to a website/social media.</li>
            <li>Instant messaging (i.a. Telegram, Messenger), e-mail addresses, and other direct contact measures are not allowed anywhere here. getfursu.it can only link to websites, on which you can post such information.</li>
            <li>Work-in-progress websites are not accepted (keep in mind, that any portfolio is more important than an empty website; if you don't have one, start with Fur Affinity, or similar).</li>
            <li>Adding links to empty accounts/websites will only make your visitors frustrated. Consider adding links when content will already be there.</li>
            <li>All links put here must not require the visitor to click anything to view your content (scrolling is OK). E.g. if you keep FAQ on your website, then you should link the precise link to the FAQ, instead of the one to the homepage.</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.fursuitReviewUrl) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.websiteUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.faqUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.queueUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.furAffinityUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.deviantArtUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.blueskyUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.mastodonUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.facebookUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.instagramUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.tumblrUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.twitterUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.youtubeUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.tikTokUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.furryAminoUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.etsyUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.theDealersDenUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherShopUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.donationsUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.linklistUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.telegramChannelUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherUrls) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Age &amp; related</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.ages) }}
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#agesExplanationModal">
        What? Why?
    </button>

    <div class="modal" id="agesExplanationModal" tabindex="-1" aria-labelledby="agesExplanationModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agesExplanationModalLabel">Age &amp; related</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        getfursu.it welcomes both artists and visitors of many kinds. Some of you run full-blown fursuit studios with dedicated websites and dedicated social media. Some of you treat fursuit building as a side hobby, and don't have the time to keep dedicated websites and social media accounts. There are artists, who keep both their art and fursuit portfolios in one place. Some use the same, day-to-day accounts, for both private and fursuit building related stuff.
                    </p>

                    <p>
                        And there are many kinds of visitors, who may be interested in different stuff. Those also may happen to not be interested in the particular stuff of yours, even when there may be many, who love what you do. Worth mentioning, some makers on getfursu.it are willing to work with minors.
                    </p>

                    <p>
                        <strong>Goal:</strong> getfursu.it must be <strong>minors-friendly by default, while still welcoming everybody</strong>. The questions below are especially important to be answered accurately, to avoid any user to unwillingly run into any content they would rather not see, or should not see due to their age. Please act responsibly!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.nsfwWebsite) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.nsfwSocial) }}
            </div>
        </div>
    </div>

    <div class="row" id="doesNsfwContainer">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.doesNsfw) }}
            </div>
        </div>
    </div>

    <div class="row" id="worksWithMinorsContainer">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.worksWithMinors) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Payments</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.paymentPlans) }}
            </div>
            {{ form_row(form.paymentMethods) }}
        </div>
        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.pricesUrls) }}
            </div>
            {{ form_row(form.currenciesAccepted) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Production models</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.productionModels) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.productionModelsComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Styles</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.styles) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherStyles) }}
            {{ form_row(form.stylesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Order types</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.orderTypes) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherOrderTypes) }}
            {{ form_row(form.orderTypesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Features</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.features) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherFeatures) }}
            {{ form_row(form.featuresComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Species</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="important">
                {{ form_row(form.speciesDoes) }}
            </div>
            {{ form_row(form.speciesDoesnt) }}
            {{ form_row(form.speciesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Automatic commissions status tracking (open/closed)</h2>

    <div class="recommended">
        <p class="small">I highly encourage you to take advantage of this feature, as according to the stats I get from search engines, the information if a maker is open or not is one of the most important ones. <a href="{{ path('tracking') }}" target="_blank">You can read here about how the tracking works.</a> I'll be happy to help if you need assistance.</p>

        <div class="row">
            <div class="col-lg-12">
                {{ form_row(form.commissionsUrls) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Photos of your creations - Scritch &amp; Furtrack</h2>

    <div class="row">
        <div class="col-lg-4 text-center">
            <img class="img-fluid rounded tiny-dog" src="{{ asset('images/stop_scrolling.webp') }}" alt="" />
        </div>

        <div class="col-lg-8">
            <p>Have you heard about <a href="https://scritch.es/" target="_blank">Scritch</a> or <a href="https://www.furtrack.com/" target="_blank">Furtrack</a>? These are initiatives of creating a proper service for publishing fursuit photos while being able to tag their makers and owners:</p>

            <ul>
                <li>everybody can take part in tagging ("I know this fursuiter, here goes a tag!"),</li>
                <li>makers keep own pages with a list of their creations and photos,</li>
                <li>fursuiters have easy access to all their photos.</li>
            </ul>

            <p><strong>To put it simple, it's a far better alternative to tagging on Facebook or Twitter, or uploading the photos to some on-line file share or photo service.</strong></p>

            <p class="small">Note: getfursu.it maintainer is involved in neither Scritch nor Furtrack development/maintenance; in case of any questions/issues regarding those websites, please reach out to their administrators.</p>
        </div>
    </div>

    <div class="recommended">

        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.scritchUrl) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.furtrackUrl) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.photoUrls) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.photosCopyright) }}
            </div>
        </div>
    </div>

    <div class="helphints-toggle">
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#photosExplanation" aria-expanded="false" aria-controls="photosExplanation">How to properly add photos</button>
    </div>

    <div class="collapse helphints-contents" id="photosExplanation">
        <div class="card">
            <div class="card-body">
                <ul>
                    <li>
                        To copy a link from <strong>Scritch</strong>, open the photo and click "Get link" on the upper-right of the pop-up. You should end up with something similar to this:
                        <em>https://scritch.es/pictures/25ae6f07-9855-445f-9c1d-a8c78166b81b</em>.
                    </li>

                    <li>
                        To copy a link from <strong>Furtrack</strong>, open the photo and click the link on the upper-right corner of the pop-up. You should end up with something similar to this:
                        <em>https://www.furtrack.com/p/49767</em>.
                    </li>
                    <li>
                        If you reorder the photos, notify the maintainer about it by e.g. adding some notes below ("I&nbsp;reordered the photos"). Otherwise, reordering will be ignored due to the limitations of the software. {# grep-cannot-easily-reorder-photos #}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Other/remarks/additional information</h2>

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.intro) }} {# TODO: Move up! #}

            {{ form_row(form.notes) }}
        </div>
    </div>

    <h2 class="mt-5 mb-3">Contact</h2>

    <div class="row">
        <div class="col-lg-4">
            <div class="mandatory">
                {{ form_row(form.contactAllowed) }}
            </div>
        </div>
        <div class="col-lg-8 pb-4">
            <p>Based on your choice:</p>

            <span class="pros-cons-contact-options" data-min-level="-1" data-max-level="-1">
                <i class="fas fa-question-circle"></i>
                Please choose your preferred setting<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="0" data-max-level="0">
                <i class="fa-regular fa-circle-xmark"></i>
                <strong>Any serious issue makes your submission rejected without a notice.</strong><br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="1" data-max-level="3">
                <i class="fa-regular fa-square-check"></i>
                Get contacted when there's an issue with your submission (e.g. wrong password).<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="2" data-max-level="3">
                <i class="fa-regular fa-square-check"></i>
                Get notified about new features available to better advertise your studio.<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="0" data-max-level="1">
                <i class="fa-regular fa-circle-xmark"></i>
                You may miss important changes and new features, e.g. filters. That may push your studio into "Unknown" classification, skipped/rated lower by some users.<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="3" data-max-level="3">
                <i class="fa-regular fa-square-check"></i>
                You may occasionally receive a survey to best understand your needs as a maker and make this website suit you better. You are <strong>not</strong> obliged in any way to respond, nor provide all and complete answers.<br />
            </span>
            <span class="pros-cons-contact-options small" data-min-level="0" data-max-level="2">
                <i class="fa-regular fa-circle-xmark"></i>
                Your chances to impact how this website works will be limited.<br />
            </span>
            <span class="pros-cons-contact-options small" data-min-level="1" data-max-level="3">
                <i class="fa-regular fa-square-check"></i>
                Opt-out anytime, by simply replying, or sending an update here.<br />
                <i class="fa-regular fa-square-check"></i>
                Your contact info will never be shared with anyone.<br />
                <i class="fa-regular fa-square-check"></i>
                No 3rd party advertising. The only advertising which <strong>may</strong> appear in the future, would be banners on the website.<br />
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="contact_info" class="mandatory">
                {{ form_row(form.emailAddressObfuscated) }}
            </div>
        </div>
    </div>

    <hr class="mt-5" />
    <h2 class="mb-3">Password</h2>

    <div class="mandatory">
        {{ form_row(form.password) }}
    </div>

    <div class="{% if is_new %}d-none{% endif %}">
        {{ form_row(form.changePassword) }}

        <p class="d-none border bg-primary-subtle ml-5 p-2" id="forgotten_password_instructions">
            Please type in a <strong>new</strong> password you want to use in the field above.
        </p>

        <div id="verification_acknowledgement" class="{% if not was_contact_allowed %}contact-was-not-allowed{% endif %}">
            {{ form_row(form.verificationAcknowledgement) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="btn btn-primary" value="Submit" />

    {{ form_end(form) }}
{% endblock %}
