{% extends '_base.html.twig' %}

{% block title %}Query data{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {% if query.errors %}
        <div class="alert alert-danger" role="alert">
            <ul>
                {% for error in query.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_rest(form) }}
    {{ form_end(form) }}

    {% if query.wasRun %}
        <div class="card mb-4">
            <div class="card-body">
                <h5 class="card-title">Matched items:</h5>
                <p class="card-text">{{ query.matchedItems|join(', ') }}</p>
            </div>
        </div>

        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Maker ID</th>
                    <th>Feedback?</th>
                    <th>Contact</th>
                    <th>Styles</th>
                    <th>Order types</th>
                    <th>Features</th>
                </tr>
            </thead>
            <tbody>
                {% for artisan in query.result %}
                    <tr>
                        <td><a href="{{ path('mx_artisan_edit', { 'id': artisan.id }) }}">{{ artisan.lastMakerId }}</a></td>
                        <td>{{ artisan.allowsFeedback ? 'YES' : 'NO' }}</td>
                        <td>{% if artisan.allowsFeedback %}{{ artisan.contactInfoOriginal }}{% endif %}</td>
                        <td>{{ artisan.otherStyles|filterByQuery(query) }}</td>
                        <td>{{ artisan.otherOrderTypes|filterByQuery(query) }}</td>
                        <td>{{ artisan.otherFeatures|filterByQuery(query) }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
