{% extends '_base_with_toc.html.twig' %}

{% block title %}Statistics{% endblock %}

{% block contents %}
    <h1 id="commission-status">Commission status</h1>
    {{ include('statistics/_data_table.html.twig', {data: commissionsStats, name: '', total: commissionsStats.Total}) }}

    <p>
        <a data-bs-toggle="collapse" href="#cstExplain" role="button" aria-expanded="false" aria-controls="cstExplain">
            Explain above
        </a>
    </p>
    <div class="collapse pb-4" id="cstExplain">
        <div class="card card-body pb-0">
            <dl class="row">
                <dt class="col-sm-2">Open for anything</dt>
                <dd class="col-sm-10">Number of fursuit makers who has at least some option open currently</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Closed for anything</dt>
                <dd class="col-sm-10">... who has at least some option closed currently</dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Status tracked</dt>
                <dd class="col-sm-10">
                    ... which commissions status is tracked automatically (the database contains link to a page, which the getfursu.it software checks periodically to determine if the maker is open for commissions or not). See <a href="{{ path('tracking') }}">here</a> for more info.
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Status successfully tracked</dt>
                <dd class="col-sm-10">
                    ... which commissions status is tracked automatically, and the software did not detect any apparent difficulties during status analysis.
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Partially successfully tracked</dt>
                <dd class="col-sm-10">
                    ... which commissions status is tracked automatically, and some information has been retrieved, however the software encountered apparent difficulties during status analysis.
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Tracking failed completely</dt>
                <dd class="col-sm-10">
                    ... which commissions status is tracked automatically, however the software encountered apparent difficulties during status analysis and no information has been retrieved at all.
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Tracking issues</dt>
                <dd class="col-sm-10">
                    ... which commissions status is tracked automatically, however the software encountered apparent difficulties during status analysis - regardless of any information being eventually retrieved, or not.
                </dd>
            </dl>
            <dl class="row">
                <dt class="col-sm-2">Total</dt>
                <dd class="col-sm-10">I once knew a guy, who</dd>
            </dl>
        </div>
    </div>

    <h1 id="countries">Countries</h1>
    {{ include('statistics/_data_table.html.twig', {data: countries, name: 'Country', total: commissionsStats.Total, merge_row_percents: true}) }}

    <h1 id="production-models">Production models</h1>
    {{ include('statistics/_data_table.html.twig', {data: productionModels, name: 'Production model', total: commissionsStats.Total}) }}

    <h1 id="styles">Styles</h1>
    {{ include('statistics/_data_table.html.twig', {data: styles, name: 'Style', total: commissionsStats.Total}) }}

    <h2 id="other-styles">Other styles</h2>
    {{ include('statistics/_item_pills.html.twig', {items: otherStyles}) }}

    <h1 id="order-types">Order types</h1>
    {{ include('statistics/_data_table.html.twig', {data: orderTypes, name: 'Order type', total: commissionsStats.Total}) }}

    <h2 id="other-order-types">Other order types</h2>
    {{ include('statistics/_item_pills.html.twig', {items: otherOrderTypes}) }}

    <h1 id="features">Features</h1>
    {{ include('statistics/_data_table.html.twig', {data: features, name: 'Feature', total: commissionsStats.Total}) }}

    <h2 id="other-features">Other features</h2>
    {{ include('statistics/_item_pills.html.twig', {items: otherFeatures}) }}

    <h1 id="data-statistics">Data statistics</h1>
    {{ include('statistics/_data_table.html.twig', {data: completeness, name: 'Data completeness', total: commissionsStats.Total}) }}

    {{ include('statistics/_data_table.html.twig', {data: providedInfo, name: 'Information provided', total: commissionsStats.Total}) }}
{% endblock %}
