{% import 'main/parts/filters/body/shared_macros.html.twig' as macros %}

<fieldset>
    <div class="row">
        <div class="col-sm-12">
            {% if filter.data.items %}
                {{ macros.all_none_invert_links('simple') }}
            {% endif %}

            {{ macros.special_items(filter.data.specialItems, filter_name) }}
        </div>
    </div>

    <div class="row">
        {% for item in filter.data.items %}
            {% set id = 'checkbox' ~ unique_int() %}
            <div class="col-sm-6 col-lg-3">
                <div class="form-check form-check-inline">
                    <input id="{{ id }}" class="form-check-input" type="checkbox" name="{{ filter_name }}[]" value="{{ item.value }}">

                    <label class="form-check-label" for="{{ id }}">
                        {{ item.label -}}&nbsp;<span class="count">({{ item.count }})</span>
                    </label>
                </div>
            </div>
        {% endfor %}
    </div>
</fieldset>
