{% extends 'mx/_base.html.twig' %}
{% from 'shared_parts/shared_macros.html.twig' import pagination %}

{% block title %}Submissions{% endblock %}

{% block body %}
    <a class="btn btn-outline-primary float-end" href="{{ path('mx_submissions_social') }}">Post on social</a>
    <h1>{{ block('title') }}</h1>

    <table class="table table-sm">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>ID</th>
                <th>Maker ID</th>
                <th>Maker name</th>
                <th>Comments</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions_page.items %}
                <tr>
                    <td>{{ submission.timestamp|fragile_datetime_utc }}</td>
                    <td>{{ submission.id }}</td>
                    <td>{{ submission.get('MAKER_ID'|as_field) }}</td>
                    <td>{{ submission.get('NAME'|as_field) }}</td>
                    <td>{{ submission.comment|nl2br }}</td>
                    <td>
                        <a href="{{ path('mx_submission', {id: submission.id}) }}">Open</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {{ pagination(submissions_page, path('mx_submissions', {page: '1'}), 'submissions') }}
{% endblock %}
