{% extends 'mx/_base.html.twig' %}

{% block title %}Social{% endblock %}

{% set maker_s = artisans|length > 1 ? 'makers' : 'maker' %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    <div class="row">
        <div class="col">
            <h4>Tumblr</h4>

            <h5>Markdown text</h5>

            <p class="user-select-all">
                # Fursuit {{ maker_s }} added

                <br><br>

                {% for artisan in artisans %}
                    - [getfursu.it/#{{ artisan.makerId }}](https://getfursu.it/#{{ artisan.makerId }})
                    {% if '' != artisan.tumblrUrl %}
                        {{ artisan.tumblrUrl|tumblr_at }}
                    {% endif %}
                    <br><br>
                {% endfor %}

                <br>

                Join/see all recently joined: [getfursu.it/new](https://getfursu.it/new)
            </p>

            <h5>Hashtags</h5>
            <p><i>#<span class="user-select-all">fursuit maker</span> #<span class="user-select-all">furry</span></i></p>

            <h4>Mastodon</h4>

            <p class="user-select-all">
                Fursuit {{ maker_s }} added:<br>

                {% for artisan in artisans %}
                    - https://getfursu.it/#{{ artisan.makerId }}

                    {% if '' != artisan.mastodonUrl %}
                        {{ artisan.mastodonUrl|mastodon_at }}
                    {% endif %}

                    <br>
                {% endfor %}

                <br>

                Join/see all recently joined: https://getfursu.it/new

                <br><br>

                <i>#fursuitmaker #furry</i>
            </p>
        </div>

        <div class="col">
            <h4>Bluesky</h4>

            <p class="user-select-all">
                Fursuit {{ maker_s }} added:<br>

                {% for artisan in artisans %}
                    - https://getfursu.it/#{{ artisan.makerId }} <br>
                {% endfor %}

                &nbsp;<br>

                Join/see all recently joined: https://getfursu.it/new

                <br>&nbsp;<br>

                <i>#fursuitmaker #furry</i>
            </p>

            <h4>Twitter</h4>

            <p class="user-select-all">
                Fursuit {{ maker_s }} added:<br>

                {% for artisan in artisans %}
                    - https://getfursu.it/#{{ artisan.makerId }}

                    {% if '' != artisan.twitterUrl %}
                        <span class="user-select-all">@{{ artisan.twitterUrl|split('/')[3] }}</span>
                    {% endif %}

                    <br>
                {% endfor %}

                <br>

                Join/see all recently joined: https://getfursu.it/new

                <br><br>

                <i>#fursuitmaker #furry</i>
            </p>

            <h4 class="pt-4">Instagram</h4>

            <h5>Tags and hashtags</h5>
            <p class="user-select-all">
                {% for artisan in artisans %}
                    {% if '' != artisan.instagramUrl %}
                        @{{ artisan.instagramUrl|split('/')[3] }}
                    {% endif %}
                {% endfor %}

                <i>#fursuitmaker #furry</i>
            </p>
        </div>
    </div>
{% endblock %}
