{% extends '_base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
    <h1>
        <i class="fa-regular fa-envelope"></i> Contact
    </h1>

    <div class="card border-primary my-5 w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title">
                Please do not contact me if you are looking for a fursuit
            </h5>

            <p class="card-text">
                I am sorry, but I can provide support only for fursuit makers. I am not a maker myself, I don't make fursuits, I am merely a "webmaster". The only thing I can do for you, is this website.
            </p>
        </div>
    </div>

    <p class="text-center overflow-x-auto">
        <a class="btn btn-primary my-1 btn-sm" href="https://www.tumblr.com/getfursuit">
            <i class="fa-brands fa-tumblr"></i> Tumblr
        </a>
        <a class="btn btn-primary my-1 btn-sm" rel="me" href="https://fursuits.online/@getfursuit">
            <i class="fab fa-mastodon"></i> Mastodon
        </a>
        <a class="btn btn-primary my-1 btn-sm" rel="me" href="https://bsky.app/profile/getfursuit.bsky.social">
            <i class="fas fa-cloud"></i> Bluesky
        </a>

        <br>

        <a class="btn btn-primary my-1 btn-sm" href="https://www.instagram.com/getfursu.it/">
            <i class="fab fa-instagram"></i> Instagram
        </a>
        <a class="btn btn-primary my-1 btn-sm" href="https://twitter.com/getfursuit">
            <i class="fab fa-twitter"></i> Twitter
        </a>

        <br>

        {% if is_solved %}
            <span id="protected-contact-info"> {# TODO: Reeaval necessity of having the span #}
                <a href="mailto:{{ contact_email }}" class="btn btn-primary my-1 btn-sm">
                    <i class="fas fa-envelope"></i> {{ contact_email }}
                </a>
            </span>
        {% else %}
            {{ form_start(form) }}
            {{ render(controller('App\\Captcha\\Controller::challenge', {form: form.captcha})) }}
            <input type="submit" class="btn btn-primary my-1 btn-sm" value="Reveal">
            {{ form_end(form) }}
        {% endif %}
    </p>
{% endblock %}
