<table id="artisans" class="table table-striped table-sm table-hover">
    <thead class="table-dark">
    <tr>
        <th class="text-start name">Fursuit maker /&nbsp;studio name</th>
        <th class="text-center toggleable default-hidden maker-id">Maker ID</th>
        <th class="text-center toggleable default-hidden">State</th>
        <th class="text-center toggleable no-sorting default-hidden">Languages</th>
        <th class="text-center toggleable no-sorting default-hidden">Production model</th>
        <th class="text-center toggleable no-sorting">Styles</th>
        <th class="text-center toggleable no-sorting default-hidden">Types</th>
        <th class="text-center toggleable no-sorting default-hidden">Features</th>
        <th class="text-center toggleable no-sorting default-hidden">Species</th>
        <th class="text-center toggleable no-sorting">Commissions</th>
        <th class="text-end toggleable no-sorting">Links</th>
        <th class="hidden searchable">Data for searching</th>
    </tr>
    </thead>

    <tbody>
    {% for artisan in artisans %}
        <tr class="fursuit-maker artisan-data {% if artisan.inactiveReason %}inactive{% endif %}" {% if artisan.makerId %}id="{{ artisan.makerId }}"{% endif %}>
            {%- apply spaceless %}
                <td class="name" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {% include 'main/table/name_cell.html.twig' %}
                </td>
                <td class="maker-id" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {{- artisan.makerId -}}
                </td>
                <td class="state" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {{- artisan.state -}}
                </td>
                <td class="languages" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {{- artisan.languages|other('') -}}
                </td>
                <td class="production-models" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {{- artisan.productionModels|other('') -}}
                </td>
                <td class="styles" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {{- artisan.styles|other(artisan.otherStyles) -}}
                </td>
                <td class="types" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {{- artisan.orderTypes|other(artisan.otherOrderTypes) -}}
                </td>
                <td class="features" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {{- artisan.features|other(artisan.otherFeatures) -}}
                </td>
                <td class="species" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {%- if artisan.speciesDoes or artisan.speciesDoesnt -%}
                        <ul>
                            {%- for specie in artisan.speciesDoes|list -%}
                                <li class="yes"><i class="fas fa-check"></i>&nbsp;{{ specie }}</li>
                            {%- endfor -%}
                            {%- for specie in artisan.speciesDoesnt|list -%}
                                <li class="no"><i class="fas fa-times"></i>&nbsp;{{ specie }}</li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </td>
                <td class="commissions" data-bs-toggle="modal" data-bs-target="#artisanDetailsModal">
                    {%- if artisan.commissions is not empty or artisan.csTrackerIssue -%}
                        <ul>
                            {%- if artisan.csTrackerIssue -%}
                                {%- if artisan.commissions is empty -%}
                                    <li class="inaccurate"><i class="far fa-question-circle"></i>&nbsp;Unknown</li>
                                {%- else -%}
                                    <li class="inaccurate"><i class="far fa-question-circle"></i>&nbsp;Unsure</li>
                                {%- endif -%}
                            {%- endif -%}
                            {%- for offer in artisan.commissions -%}
                                {%- set class = offer.isOpen ? 'yes' : 'no' -%}
                                {%- set symbol = offer.isOpen ? 'fas fa-check' : 'fas fa-times' -%}
                                <li class="{{ class }}"><i class="{{ symbol }}"></i>&nbsp;{{ offer.offer }}</li>
                            {%- endfor -%}
                        </ul>
                    {%- endif -%}
                </td>
                <td class="links">
                    {% include 'main/table/links_dropdown.html.twig' %}
                </td>
                <td>
                    {{ artisan.formerly }}
                    {{ artisan.formerMakerIds }}
                </td>
            {% endapply -%}
        </tr>
    {% endfor %}
    </tbody>
</table>
