<div class="btn-group artisan-links" role="group" aria-label="Dropdown with links to websites">
    {% if isDevMachine() %}
        <a class="btn btn-warning" href="{{ path('mx_artisan_edit', { id: artisan.id }) }}"><i class="fas fa-edit"></i></a>
    {% endif %}

    {%- if artisan.fursuitReviewUrl -%}
        <a class="btn btn-secondary" href="{{ artisan.fursuitReviewUrl }}" target="_blank"><i class="fas fa-balance-scale"></i></a>
    {%- endif -%}

    {%- if artisan.websiteUrl -%}
        <a class="btn btn-secondary" href="{{ artisan.websiteUrl }}" target="_blank"><i class="fas fa-link"></i></a>
    {%- endif -%}

    <div class="btn-group" role="group">
        {% set btnGroupDropLinksId = 'drpdwnmn' ~ loop.index0 %}

        <button id="{{ btnGroupDropLinksId }}" type="button" class="btn btn-secondary dropdown-toggle"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-boundary="viewport" data-flip="false">
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="{{ btnGroupDropLinksId }}">
            {%- if artisan.fursuitReviewUrl -%}
                <a class="dropdown-item" href="{{ artisan.fursuitReviewUrl }}" target="_blank"><i class="fas fa-balance-scale"></i> FursuitReview</a>
            {%- endif -%}
            {%- if artisan.websiteUrl -%}
                <a class="dropdown-item" href="{{ artisan.websiteUrl }}" target="_blank"><i class="fas fa-link"></i> Official website</a>
            {%- endif -%}
            {%- if artisan.pricesUrl -%}
                <a class="dropdown-item" href="{{ artisan.pricesUrl }}" target="_blank"><i class="fas fa-dollar-sign"></i> Prices</a>
            {%- endif -%}
            {%- if artisan.faqUrl -%}
                <a class="dropdown-item" href="{{ artisan.faqUrl }}" target="_blank"><i class="fas fa-comments"></i> FAQ</a>
            {%- endif -%}
            {%- if artisan.queueUrl -%}
                <a class="dropdown-item" href="{{ artisan.queueUrl }}" target="_blank"><i class="fas fa-clipboard-list"></i> Queue</a>
            {%- endif -%}
            {%- if artisan.furAffinityUrl -%}
                <a class="dropdown-item" href="{{ artisan.furAffinityUrl }}" target="_blank"><img src="FurAffinity.svg" alt=""/> FurAffinity</a>
            {%- endif -%}
            {%- if artisan.deviantArtUrl -%}
                <a class="dropdown-item" href="{{ artisan.deviantArtUrl }}" target="_blank"><i class="fab fa-deviantart"></i> DeviantArt</a>
            {%- endif -%}
            {%- if artisan.twitterUrl -%}
                <a class="dropdown-item" href="{{ artisan.twitterUrl }}" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
            {%- endif -%}
            {%- if artisan.facebookUrl -%}
                <a class="dropdown-item" href="{{ artisan.facebookUrl }}" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
            {%- endif -%}
            {%- if artisan.tumblrUrl -%}
                <a class="dropdown-item" href="{{ artisan.tumblrUrl }}" target="_blank"><i class="fab fa-tumblr"></i> Tumblr</a>
            {%- endif -%}
            {%- if artisan.youtubeUrl -%}
                <a class="dropdown-item" href="{{ artisan.youtubeurl }}" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
            {%- endif -%}
            {%- if artisan.instagramUrl -%}
                <a class="dropdown-item" href="{{ artisan.instagramUrl }}" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            {%- endif -%}
            <a class="dropdown-item request-update" data-toggle="modal" data-target="#updateRequestModal">
                <i class="fas fa-exclamation-triangle"></i> Report inaccurate/outdated
            </a>
        </div>
    </div>
</div>
