{% extends '_base.html.twig' %}

{% block title %}successful submission!{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('iu_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('iu_form') }}
{% endblock %}

{% block body %}
    <div id="iu-form-data" data-step="confirmation" data-creator-id="{{ creator_id }}" {# grep-code-iu-form-data-local-storage #}></div>

    <div class="card border-success my-5" role="alert">
        <div class="card-header">
            Your submission has been queued
        </div>

        <div class="card-body">
            <p class="card-text">
                Submissions are typically processed once a week, during the weekend. <i class="fas fa-hand-point-right"></i> If you don't see your changes on-line after 7 days, please contact the maintainer using any of the means listed on the <a href="{{ path('contact') }}">contact page</a>.
            </p>

            <hr>

            <p class="card-text">
                <i class="fas fa-hand-point-right"></i> If for any reason you need your submission processed as soon as possible, do not hesitate to <a href="{{ path('contact') }}">contact the maintainer</a> immediately, we'll see, what can be done about this.
            </p>
        </div>
    </div>
{% endblock %}
