{% extends '_base.html.twig' %}

{% block title %}inclusion/update request{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('iu_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('iu_form') }}
{% endblock %}

{% block body %}
    <h1>{{ block('title')|capitalize }}</h1>

    {% include 'shared_parts/big_scary_error.html.twig' %}

    {% include 'iu_form/shared_parts/form_errors_top.html.twig' %}

    {{ form_start(form) }}

    {% include 'iu_form/shared_parts/session_info.html.twig' %}

    <h2 class="mt-4">Contact</h2>

    <div class="row">
        <div class="col-lg-4">
            <div class="mandatory">
                {{ form_row(form.contactAllowed) }}
            </div>
        </div>
        <div class="col-lg-8 pb-4">
            <p>Based on your choice:</p>

            <span class="pros-cons-contact-options" data-min-level="-1" data-max-level="-1">
                <i class="fas fa-question-circle"></i>
                Please choose your preferred setting<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="0" data-max-level="0">
                <i class="fas fa-times-circle"></i>
                <strong>Any serious issue makes your submission rejected without a notice.</strong><br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="1" data-max-level="3">
                <i class="fas fa-check-square"></i>
                Get contacted when there's an issue with your submission (e.g. wrong password).<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="2" data-max-level="3">
                <i class="fas fa-check-square"></i>
                Get notified about new features available to better advertise your studio.<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="0" data-max-level="1">
                <i class="fas fa-times-circle"></i>
                You may miss important changes and new features, e.g. filters. That may push your studio into "Unknown" classification, skipped/rated lower by some users.<br />
            </span>
            <span class="pros-cons-contact-options" data-min-level="3" data-max-level="3">
                <i class="fas fa-check-square"></i>
                You may occasionally receive a survey to best understand your needs as a maker and make this website suit you better. You are <strong>not</strong> obliged in any way to respond, nor provide all and complete answers.<br />
            </span>
            <span class="pros-cons-contact-options small" data-min-level="0" data-max-level="2">
                <i class="fas fa-times-circle"></i>
                Your chances to impact how this website works will be limited.<br />
            </span>
            <span class="pros-cons-contact-options small" data-min-level="1" data-max-level="3">
                <i class="fas fa-check-square"></i>
                Opt-out anytime, by simply replying, or sending an update here.<br />
                <i class="fas fa-check-square"></i>
                Your contact info will never be shared with anyone.<br />
                <i class="fas fa-check-square"></i>
                No 3rd party advertising. The only advertising which <strong>may</strong> appear in the future, would be banners on the website.<br />
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="contact_info" class="mandatory">
                {{ form_row(form.contactInfoObfuscated) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Password</h2>

    <p class="small">Secure your studio information with a password. <strong>Please do not use any password you use anywhere else.</strong></p>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    {{ form_widget(form.changePassword) }}
                </div>
                <div class="card-body d-none" id="forgotten_password_instructions">
                    <ol class="card-text">
                        <li>Please choose a <strong>new</strong> password you want to use in the future and type it in the <em>Updates password</em> field.</li> {# grep-updates-password-field-name #}
                        <li>Submit the form.</li>
                        <li>Follow the instructions on the next page.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mandatory">
                {{ form_row(form.password) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Other/remarks/additional information</h2>

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.notes) }}
        </div>
    </div>

    {{ form_widget(form.back) }}
    <input type="submit" class="btn btn-primary" value="Submit" />

    {{ form_rest(form) }}

    {{ form_end(form) }}
{% endblock %}
