{% extends '_base.html.twig' %}

{% block title %}Inclusion/update form{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('iu_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('iu_form') }}
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {{ form_errors(form) }}

    {{ form_start(form) }}

    <h2 class="mt-4">Contact, updates &amp; feedback</h2>

    <table class="table table-bordered table-condensed pros-cons-contact-options">
        <tr>
            <th class="text-end">Options available:</th>
            <th>No&nbsp;contact allowed</th>
            <th>Corrections</th>
            <th>Announcements</th>
            <th>Feedback</th>
        </tr>
        <tr>
            <td>
                <i class="fas fa-check-square"></i>
                Get contacted when there's an issue with your submission (e.g. wrong password).<br />
                <i class="fas fa-times-circle"></i>
                Any serious issue makes you submission rejected without a notice.
            </td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-check-square"></i>
                Get notified about new features available to better advertise your studio.<br />
                <i class="fas fa-times-circle"></i>
                You may miss important changes and new features, e.g. filters. That may push your studio into "Unknown" classification, skipped/rated lower by some users.
            </td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-check-square"></i>
                You may occasionally receive a survey to best understand your needs as a maker and make this website suit you better. You are <strong>not</strong> obliged in any way to respond, nor provide all and complete answers.<br />
                <i class="fas fa-times-circle"></i>
                Your chances to impact how this website works will be limited.
            </td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-check-square"></i></td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-check-square"></i>
                Opt-out anytime, by simply replying, or sending an update here.<br />
                <i class="fas fa-check-square"></i>
                Your contact info will never be shared with anyone.<br />
                <i class="fas fa-check-square"></i>
                No 3rd party advertising. The only advertising which <strong>may</strong> appear in the future, would be banners on the website.<br />
            </td>
            <td></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
        </tr>
    </table>

    <div class="row">
        <div class="col-lg-6">
            <div class="mandatory">
                {{ form_row(form.contactAllowed) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div id="contact_info" class="mandatory">
                {{ form_row(form.contactInfoObfuscated) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="mandatory">
                {{ form_row(form.password) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    {{ form_widget(form.changePassword) }}
                </div>
                <div class="card-body d-none" id="forgotten_password_instructions">
                    <ol class="card-text">
                        <li>Please choose a <strong>new</strong> password you want to use and type it in the password field.</li>
                        <li>Submit the form.</li>
                        <li>Follow the instructions on the next page.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Other/remarks/additional information</h2>

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.notes) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="btn btn-primary btn-lg" value="Submit" />

    {{ form_end(form) }}
{% endblock %}
