{% extends '_base.html.twig' %}

{% block title %}Inclusion/update form{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('iu_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('iu_form') }}
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {% include 'iu_form/shared_parts/big_scary_error.html.twig' %}

    {{ form_start(form) }}

    {% include 'iu_form/shared_parts/session_info.html.twig' %}

    {{ form_errors(form) }}

    {% include('iu_form/iu_form_parts/instructions.html.twig') %}

    <h2 class="mt-4">General info</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="mandatory">
                {{ form_row(form.name) }}
            </div>
            <div class="important">
                {{ form_row(form.formerly) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.since) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="mandatory">
                {{ form_row(form.ages) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="mandatory">
                {{ form_row(form.worksWithMinors) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Location of the studio</h2>

    <div class="row">
        <div class="col-lg-4">
            <div class="mandatory">
                {{ form_row(form.country) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="recommended">
                {{ form_row(form.state) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="recommended">
                {{ form_row(form.city) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Payments</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.paymentPlans) }}
            </div>
            {{ form_row(form.paymentMethods) }}
        </div>
        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.pricesUrls) }}
            </div>
            {{ form_row(form.currenciesAccepted) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Production models</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.productionModels) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.productionModelsComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Styles</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.styles) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherStyles) }}
            {{ form_row(form.stylesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Order types</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.orderTypes) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherOrderTypes) }}
            {{ form_row(form.orderTypesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Features</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.features) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherFeatures) }}
            {{ form_row(form.featuresComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Species</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="important">
                {{ form_row(form.speciesDoes) }}
            </div>
            {{ form_row(form.speciesDoesnt) }}
            {{ form_row(form.speciesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Links to websites</h2>

    <div class="mandatory">
        <ol>
            <li>You must provide at least one link to a website/social media.</li>
            <li>Instant messaging (i.a. Telegram, Messenger), e-mail addresses, and other direct contact measures are not allowed anywhere here. getfursu.it can only link to websites, on which you can post such information.</li>
            <li>Work-in-progress websites are not accepted (keep in mind, that any portfolio is more important than an empty website; if you don't have one, start with Fur Affinity, or similar).</li>
            <li>Adding links to empty accounts/websites will only make your visitors frustrated. Consider adding links when content will already be there.</li>
            <li>All links put here must not require the visitor to click anything to view your content (scrolling is OK). E.g. if you keep FAQ on your website, then you should link the precise link to the FAQ, instead of the one to the homepage.</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.fursuitReviewUrl) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.websiteUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.faqUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.queueUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.furAffinityUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.deviantArtUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.twitterUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.facebookUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.tumblrUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.instagramUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.youtubeUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.etsyUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.theDealersDenUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.furryAminoUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.otherShopUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.linklistUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.otherUrls) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Automatic commissions status tracking (open/closed)</h2>

    <div class="recommended">
        <p class="small">I highly encourage you to take advantage of this feature, as according to the stats I get from search engines, the information if a maker is open or not is one of the most important ones. <a href="{{ path('tracking') }}" target="_blank">You can read here about how the tracking works.</a> I'll be happy to help if you need assistance.</p>

        <div class="row">
            <div class="col-lg-12">
            {{ form_row(form.commissionsUrls) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Photos of your creations - Scritch &amp; Furtrack</h2>

    <div class="recommended">
        <p class="small">Have you heard about <a href="https://scritch.es/" target="_blank">Scritch</a> or <a href="https://www.furtrack.com/" target="_blank">Furtrack</a>? These are initiatives of creating a proper service for publishing fursuit photos while being able to tag their makers and owners. The whole community can take part in tagging ("I know this fursuiter, here goes a tag!"). Makers keep their pages with links to their websites &amp; social media and a list of the photos of their creations. Fursuiters have easy access to all their photos. It's far better than tagging on Facebook or Twitter or just uploading the photos on some on-line drives/photo services. Note: getfursu.it maintainer is involved in neither Scritch nor Furtrack development/maintenance; in case of any questions/issues regarding those websites, please reach out to their administrators.</p>

        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.scritchUrl) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.furtrackUrl) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.photoUrls) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.photosCopyright) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Other/remarks/additional information</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="recommended">
                {{ form_row(form.languages) }}
            </div>

            <div class="mandatory">
                {{ form_row(form.makerId) }}
            </div>

            {{ form_row(form.intro) }}

            {{ form_row(form.notes) }}
        </div>
    </div>

    {{ form_rest(form) }}

    <input type="submit" class="btn btn-primary" value="Continue" />

    {{ form_end(form) }}
{% endblock %}
