{% extends '_base.html.twig' %}

{% block title %}Inclusion/update form{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
    {{ encore_entry_script_tags('iu_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('iu_form') }}
{% endblock %}

{% block body %}
    <h1>{{ block('title') }}</h1>

    {{ form_errors(form) }}

    {% if submitted %}
        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#iu_form_instructions_container">Toggle instructions</button>
    {% endif %}

    <div id="iu_form_instructions_container" {% if submitted %}class="collapse"{% endif %}>

    <div class="card my-4">
        <div class="card-body">
            <h5 class="card-title text-danger">Please don't rush</h5>
            <p class="card-text">
                You don't want your information to be inaccurate/incomplete. Reserve some time for filling this. Grab your favorite beverage. This form can wait. I am aware of the fact that this form is long as hecc. But you can't say your business is a trivial thing, can you? Please start with the second suggestion: <em>Please first read the whole thing, then fill in</em>.
            </p>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-danger">Please first read the whole thing, then fill in</h5>
                    <p class="card-text">
                        Yes, I'm serious. I suggest to first take a look at the whole questionnaire and start filling from the start after getting familiar with what information goes where. You'll avoid repeating yourself and/or confusing your potential customers. You will also be able to tell how much time filling all of this will take.
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-warning">Avoid using a smartphone/tablet</h5>
                    <p class="card-text">
                        I strongly suggest filling this up using a computer/laptop! Mobile devices made enough weird stuff here and will take away any comfort possible. Don't make your life hard! This form can wait.
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">I may take stuff literally</h5>
                    <p class="card-text">
                        If you make a typo or e.g. spell your name lowercase, that's how it will end up on the site. Later correction is possible though, so no need to panic.
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Expect changes</h5>
                    <p class="card-text">
                        Please note, that getfursu.it is still in development. Changes will happen, and there will be probably even more data gathered in the future. Not all data you put here will be available on the website immediately - some might be kept for the future.
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Help needed? Problem with the form? Anything ambiguous?</h5>
                    <p class="card-text">
                        In case of any questions/issues, feel free to <a href="{{ path('info', { _fragment: 'contact' }) }}" target="_blank">contact me</a>!
                    </p>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Feedback is welcome</h5>
                    <p class="card-text">
                        In case you have any remarks, please add them to <em>notes</em> at the end. This is important. This will help you in properly advertising your studio and will help me improve the website. Thank you!
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title text-danger">Privacy</h5>
            <p class="card-text">
                <strong>All</strong> the information you put in here will be available <strong>publicly</strong>, either directly through the getfursu.it website or through its sources (<a href="https://github.com/veelkoov/fuzzrake-data/blob/master/artisans.sql" target="_blank">GitHub, the IT stuff</a>). There are exceptions, marked like this: <span class="badge bg-warning text-dark">PRIVATE</span>
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title">Information: required, important, recommended, optional</h5>
            <div class="card-text">
                <div class="mandatory d-inline-block">
                    Fields marked like this must be filled in.
                </div>
                <div class="important d-inline-block">
                    Avoid skipping fields marked like this.
                </div>
                <div class="recommended d-inline-block">
                    It's recommended to fill fields marked this way.
                </div>
                <div class="d-inline-block">
                    Other fields are 100% optional.
                </div>
            </div>
        </div>
    </div>

    </div> <!-- id="iu_form_instructions_container" -->

    {# Hide the form initially, so in case automatic captcha fails from the start, the user won't waste time on the form they won't be able to submit #}
    <div id="iu_form_container">

    {{ form_start(form) }}

    <h2 class="mt-4">General info</h2>

    <div class="row">
        <div class="col-lg-4">
            <div class="mandatory">
                {{ form_row(form.name) }}
            </div>

            <div class="important">
                {{ form_row(form.formerly) }}
            </div>
        </div>

        <div class="col-lg-4">
            <div class="mandatory">
                {{ form_row(form.makerId) }}
            </div>
        </div>

        <div class="col-lg-4">
            <div class="recommended">
                {{ form_row(form.since) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Location &amp; languages</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="mandatory">
                {{ form_row(form.country) }}
            </div>

            <div class="recommended">
                {{ form_row(form.state) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.city) }}
            </div>

            <div class="recommended">
                {{ form_row(form.languages) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Payments</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.paymentPlans) }}
            </div>
            {{ form_row(form.paymentMethods) }}
        </div>
        <div class="col-lg-6">
            <div class="recommended">
                {{ form_row(form.pricesUrls) }}
            </div>
            {{ form_row(form.currenciesAccepted) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Production models</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.productionModels) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.productionModelsComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Styles</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.styles) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherStyles) }}
            {{ form_row(form.stylesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Order types</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.orderTypes) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherOrderTypes) }}
            {{ form_row(form.orderTypesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Features</h2>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.features) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.otherFeatures) }}
            {{ form_row(form.featuresComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Species</h2>

    <div class="row">
        <div class="col-lg-12">
            <div class="important">
                {{ form_row(form.speciesDoes) }}
            </div>
            {{ form_row(form.speciesDoesnt) }}
            {{ form_row(form.speciesComment) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Links to websites</h2>

    <div class="mandatory">
        <ol>
            <li>You must provide at least one link to a website/social media.</li>
            <li>Instant messaging (i.a. Telegram, Messenger), e-mail addresses, and other direct contact measures are not allowed anywhere here. getfursu.it can only link to websites, on which you can post such information.</li>
            <li>Work-in-progress websites are not accepted (keep in mind, that any portfolio is more important than an empty website; if you don't have one, start with Fur Affinity, or similar).</li>
            <li>Adding links to empty accounts/websites will only make your visitors frustrated. Consider adding links when content will already be there.</li>
            <li>All links put here must not require the visitor to click anything to view your content (scrolling is OK). E.g. if you keep FAQ on your website, then you should link the precise link to the FAQ, instead of the one to the homepage.</li>
        </ol>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="important">
                {{ form_row(form.fursuitReviewUrl) }}
            </div>
        </div>
        <div class="col-lg-6">
            {{ form_row(form.websiteUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.faqUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.queueUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.furAffinityUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.deviantArtUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.twitterUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.facebookUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.tumblrUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.instagramUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.youtubeUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.etsyUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.theDealersDenUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.furryAminoUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.otherShopUrl) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.linklistUrl) }}
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.otherUrls) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Age &amp; related</h2>

    <p>
        Some makers <strong>are</strong> willing to work with minors. This is why getfursu.it must be <strong>minors-friendly by default, while still welcoming everybody</strong>. The questions below are especially important to be answered accurately, to avoid any user to unwillingly run into any content they would rather not see, or should not see due to their age. Please act responsibly!
    </p>

    <div class="row">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.ages) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.nsfwWebsite) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.nsfwSocial) }}
            </div>
        </div>
    </div>

    <div class="row" id="doesNsfwContainer">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.doesNsfw) }}
            </div>
        </div>
    </div>

    <div class="row" id="worksWithMinorsContainer">
        <div class="col-lg-12">
            <div class="mandatory">
                {{ form_row(form.worksWithMinors) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Automatic commissions status tracking (open/closed)</h2>

    <div class="recommended">
        <p class="small">I highly encourage you to take advantage of this feature, as according to the stats I get from search engines, the information if a maker is open or not is one of the most important ones. <a href="{{ path('tracking') }}" target="_blank">You can read here about how the tracking works.</a> I'll be happy to help if you need assistance.</p>

        <div class="row">
            <div class="col-lg-12">
                {{ form_row(form.commissionsUrls) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Photos of your creations - Scritch &amp; Furtrack</h2>

    <div class="recommended">
        <p class="small">Have you heard about <a href="https://scritch.es/" target="_blank">Scritch</a> or <a href="https://www.furtrack.com/" target="_blank">Furtrack</a>? These are initiatives of creating a proper service for publishing fursuit photos while being able to tag their makers and owners. The whole community can take part in tagging ("I know this fursuiter, here goes a tag!"). Makers keep their pages with links to their websites &amp; social media and a list of the photos of their creations. Fursuiters have easy access to all their photos. It's far better than tagging on Facebook or Twitter or just uploading the photos on some on-line drives/photo services. Note: getfursu.it maintainer is involved in neither Scritch nor Furtrack development/maintenance; in case of any questions/issues regarding those websites, please reach out to their administrators.</p>

        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.scritchUrl) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.furtrackUrl) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form_row(form.photoUrls) }}
            </div>
            <div class="col-lg-6">
                {{ form_row(form.photosCopyright) }}
            </div>
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Other/remarks/additional information</h2>

    <div class="row">
        <div class="col-lg-12">
            {{ form_row(form.intro) }}

            {{ form_row(form.notes) }}
        </div>
    </div>

    <hr class="mt-4" />
    <h2>Contact, updates &amp; feedback</h2>

    <table class="table table-bordered table-condensed pros-cons-contact-options">
        <tr>
            <th class="text-end">Options available:</th>
            <th>No&nbsp;contact allowed</th>
            <th>Corrections</th>
            <th>Announcements</th>
            <th>Feedback</th>
        </tr>
        <tr>
            <td>
                <i class="fas fa-check-square"></i>
                Get contacted when there's an issue with your submission (e.g. wrong password).<br />
                <i class="fas fa-times-circle"></i>
                Any serious issue makes you submission rejected without a notice.
            </td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-check-square"></i>
                Get notified about new features available to better advertise your studio.<br />
                <i class="fas fa-times-circle"></i>
                You may miss important changes and new features, e.g. filters. That may push your studio into "Unknown" classification, skipped/rated lower by some users.
            </td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-check-square"></i>
                You may occasionally receive a survey to best understand your needs as a maker and make this website suit you better. You are <strong>not</strong> obliged in any way to respond, nor provide all and complete answers.<br />
                <i class="fas fa-times-circle"></i>
                Your chances to impact how this website works will be limited.
            </td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-times-circle"></i></td>
            <td><i class="fas fa-check-square"></i></td>
        </tr>
        <tr>
            <td>
                <i class="fas fa-check-square"></i>
                Opt-out anytime, by simply replying, or sending an update here.<br />
                <i class="fas fa-check-square"></i>
                Your contact info will never be shared with anyone.<br />
                <i class="fas fa-check-square"></i>
                No 3rd party advertising. The only advertising which <strong>may</strong> appear in the future, would be banners on the website.<br />
            </td>
            <td></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
            <td><i class="fas fa-check-square"></i></td>
        </tr>
    </table>

    <div class="row">
        <div class="col-lg-6">
            <div class="mandatory">
                {{ form_row(form.contactAllowed) }}
            </div>
        </div>
        <div class="col-lg-6">
            <div id="contact_info" class="mandatory">
                {{ form_row(form.contactInfoObfuscated) }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="mandatory">
                {{ form_row(form.password) }}
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    {{ form_widget(form.changePassword) }}
                </div>
                <div class="card-body d-none" id="forgotten_password_instructions">
                    <ol class="card-text">
                        <li>Please choose a <strong>new</strong> password you want to use and type it in the password field.</li>
                        <li>Submit the form.</li>
                        <li>Follow the instructions on the next page.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    {{ form_rest(form) }}

    <input type="hidden" name="token" id="iu_form_recaptcha_token" value="" />
    <div class="text-end mt-2">
        <button class="btn btn-primary btn-lg g-recaptcha"
                data-sitekey="{{ google_recaptcha_site_key }}"
                data-callback="iuFormRecaptchaValidationCallback"
                data-action="iu_form_submit">Submit</button>
    </div>

    {{ form_end(form) }}

    </div> <!-- id="iu_form_container" -->
{% endblock %}
