{% extends '_base.html.twig' %}

{% block title %}data submission{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('iu_form') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('iu_form') }}
{% endblock %}

{% block body %}
    <h1 id="iu-form-data" data-step="start">{{ block('title')|capitalize }}</h1>

    {{ include('shared_parts/adding_studios_on_hold.html.twig') }}

    {{ form_start(form) }}

    <div id="confirmNoPendingUpdates">
        {{ form_row(form.confirmNoPendingUpdates) }}
    </div>

    <div id="decisionOverPreviousUpdates">
        {{ form_row(form.decisionOverPreviousUpdates) }}
    </div>

    <div class="alert alert-primary" id="howToProceedWithQueuedUpdates">
        If you are waiting over a week already or if you prefer your changes to be on-line as soon as possible, please contact the maintainer immediately using any of the means listed on the <a href="{{ path('rt_contact') }}">contact page</a>. Otherwise, please wait a few days. The updates are usually processed once a week on weekends.
    </div>

    {{ form_rest(form) }}

    <div id="rulesAndContinueButton">
        {{ include('shared_parts/guidelines.html.twig') }}

        <input type="submit" class="btn btn-primary btn-lg" value="Agree and continue" />
    </div>

    {{ form_end(form) }}
{% endblock %}
