{% extends 'base.html.twig' %}
{% block body %}
    {#<p class="lead bg-success text-white">Here be filters; select this, select that, etc...</p>#}

    <table class="table table-striped table-sm table-hover text-center">
        <thead class="thead-dark">
            <tr>
                <th {#rowspan="2"#} class="text-left">Name</th>
                {#<th colspan="2">Open</th>#}
                {#<th rowspan="2">Estimated average<br />time to deliver</th>#}
                <th colspan="6" {#rowspan="2"#}>Links to websites</th>
            </tr>
            {#<tr>#}
                {#<th>Quotes</th>#}
                {#<th>Commissions</th>#}
            {#</tr>#}
        </thead>
        <tbody>
            {% for artisan in artisans %}
                <tr>
                    <td class="text-left">
                        {{ artisan.name }}

                        {% if artisan.country %}
                            <span class="flag-icon flag-icon-{{ artisan.country|lower }}"></span>
                        {% endif %}
                    </td>
                    {#{% set has_estimate = random(3) %}#}
                    {#{% set estimate = random(20) + 5 %}#}
                    {#{% set state = random(2) %}#}
                    {#<td>{% if state > 0 %}<span class="text-success" style="font-size: 100%;">✔</span>️{% else %}<span style="font-size: 75%;">✖️{% if has_estimate == 0 %} (in {{ estimate }} weeks){% endif %}</span>{% endif %}</td>#}
                    {#<td>{% if state == 2 %}<span class="text-success" style="font-size: 100%;">✔</span>️{% else %}<span style="font-size: 75%;">✖️{% if has_estimate == 0 %} (in {{ estimate }} weeks){% endif %}</span>{% endif %}</td>#}
                    {#<td>#}
                        {#{% if random(3) > 0 %}#}
                            {#{{ random(10) + random(5) + 3 }} months#}
                        {#{% endif %}#}
                    {#</td>#}
                    <td>
                        {% if artisan.websiteUrl %}
                            <a href="{{ artisan.websiteUrl }}">
                                <i class="fas fa-link"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if artisan.furAffinityUrl %}
                            <a href="{{ artisan.furAffinityUrl }}">
                                <img src="FurAffinity.svg"/>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if artisan.devianArtUrl %}
                            <a href="{{ artisan.devianArtUrl }}">
                                <i class="fab fa-deviantart"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if artisan.twitterUrl %}
                            <a href="{{ artisan.twitterUrl }}">
                                <i class="fab fa-twitter"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if artisan.facebookUrl %}
                            <a href="{{ artisan.facebookUrl }}">
                                <i class="fab fa-facebook"></i>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% if artisan.tumblrUrl %}
                            <a href="{{ artisan.tumblrUrl }}">
                                <i class="fab fa-tumblr"></i>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
