<div class="row pb-3">
    <div class="col col-sm-4">
        <label for="countriesFilter">Choose fursuit makers' countries:</label>
        <select multiple="multiple" id="countriesFilter">
            <option value="">Show unknown</option>
            {% for country, count in countries %}
                <option value="{{ country|lower }}">{{ country }} ({{ count }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="col col-sm-4">
        <label for="typesFilter">Choose fursuit types offered by makers:</label>
        <select multiple="multiple" id="typesFilter">
            <option value="">Show unknown</option>
            {% for type, count in types %}
                <option value="{{ type }}">{{ type }} ({{ count }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="col col-sm-4">
        <label for="featuresFilter">Choose fursuit features offered by makers:</label>
        <select multiple="multiple" id="featuresFilter">
            <option value="">Show unknown</option>
            {% for feature, count in features %}
                <option value="{{ feature }}">{{ feature }} ({{  count }})</option>
            {% endfor %}
        </select>
    </div>
</div>
