<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>

    <p>
        <strong>WARNING!</strong> Commissions status information is a prototype feature and should not be 100% relied on.
    </p>
</div>

<table id="artisans" class="table table-striped table-sm table-hover text-center">
    <thead class="thead-dark">
    <tr>
        <th class="text-left">Fursuit maker /&nbsp;studio name</th>
        <th class="hidden-data">Country</th>
        <th class="toggleable">Types</th>
        <th class="toggleable">Features</th>
        <th class="toggleable">Commissions</th>
        <th class="toggleable no-sorting">FR</th>
        <th class="toggleable first-link"></th>
        <th class="toggleable-link"></th>
        <th class="toggleable-link"></th>
        <th class="toggleable-link"></th>
        <th class="toggleable-link"></th>
        <th class="toggleable-link"></th>
        <th class="toggleable-link"></th>
        <th class="toggleable no-sorting">Updates</th>
    </tr>
    </thead>
    <tbody>
    {% for artisan in artisans %}
        <tr class="fursuit-maker">
            {%- spaceless %}
                <td class="text-left">
                    {{- artisan.name -}}
                    {%- if artisan.country -%}
                        {{ ' ' }}<span class="flag-icon flag-icon-{{ artisan.country|lower }}"></span>
                    {%- endif -%}
                </td>
                <td class="hidden-data">
                    {%- if artisan.country -%}
                        {{ artisan.country|lower }}
                    {%- endif -%}
                </td>
                <td class="text-left">
                    {{- artisan.types -}}
                </td>
                <td class="text-left">
                    {{- artisan.features -}}
                </td>
                <td>
                    {%- if artisan.areCommissionsOpen is null -%}
                    {%- elseif artisan.areCommissionsOpen == true -%}
                        <i class="fas fa-check-circle"></i> Open
                    {%- else -%}
                        <i class="fas fa-times-circle"></i> Closed
                    {%- endif -%}
                </td>
                <td>
                    {%- if artisan.fursuitReviewUrl -%}
                        <a href="{{ artisan.fursuitReviewUrl }}"><i class="fas fa-balance-scale"></i></a>
                    {%- endif -%}
                </td>
                <td>
                    {%- if artisan.websiteUrl -%}
                        <a href="{{ artisan.websiteUrl }}"><i class="fas fa-link"></i></a>
                    {%- endif -%}
                </td>
                <td>
                    {%- if artisan.furAffinityUrl -%}
                        <a href="{{ artisan.furAffinityUrl }}"><img src="FurAffinity.svg" alt="FurAffinity"/></a>
                    {%- endif -%}
                </td>
                <td>
                    {%- if artisan.deviantArtUrl -%}
                        <a href="{{ artisan.deviantArtUrl }}"><i class="fab fa-deviantart"></i></a>
                    {%- endif -%}
                </td>
                <td>
                    {%- if artisan.twitterUrl -%}
                        <a href="{{ artisan.twitterUrl }}"><i class="fab fa-twitter"></i></a>
                    {%- endif -%}
                </td>
                <td>
                    {%- if artisan.facebookUrl -%}
                        <a href="{{ artisan.facebookUrl }}"><i class="fab fa-facebook"></i></a>
                    {%- endif -%}
                </td>
                <td>
                    {%- if artisan.tumblrUrl -%}
                        <a href="{{ artisan.tumblrUrl }}"><i class="fab fa-tumblr"></i></a>
                    {%- endif -%}
                </td>
                <td>
                    {%- if artisan.instagramUrl -%}
                        <a href="{{ artisan.instagramUrl }}"><i class="fab fa-instagram"></i></a>
                    {%- endif -%}
                </td>
                <td class="small">
                    <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Fgetfursu.it%2F&ref_src=twsrc%5Etfw&screen_name=Veelkoov&text=Fursuit%20maker%20update%20request%3A%20{{ artisan.name|url_encode }}%20(please%20describe%20details)&tw_p=tweetbutton">
                        Request update
                    </a>
                </td>
            {% endspaceless -%}
        </tr>
    {% endfor %}
    </tbody>
</table>
