{% verbatim %}
<div class="modal-header">
    <h5 class="modal-title">
        {{# if artisan.makerId }}
            {{! Grep code for WORKAROUND_PLACEHOLDERS_CREATING_FAKE_404S: data-href ---> href }}
            <a id="makerId" href="#" data-href="#{{ artisan.makerId }}" rel="nofollow"><i class="fas fa-link"></i> {{ artisan.makerId }}</a>
        {{/ if }}

        <span id="artisanName">{{ artisan.name }}</span>{{# if artisan.country }}&nbsp;<span class="flag-icon flag-icon-{{ artisan.lcCountry }}"></span>{{/ if }}

        <small>
            Based in {{ optional artisan.location }};
            crafting since {{ optional artisan.since }}
            {{# if artisan.formerly }}
                <br />Formerly {{ commaSeparated artisan.formerly }}
            {{/ if }}
        </small>
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body row px-4 py-2">
    {{# if artisan.inactiveReason }}
        <div class="col-sm-12 p-1 alert alert-warning" role="alert">
            <strong>This maker has been marked as inactive</strong>, reason: {{ artisan.inactiveReason }}
        </div>
    {{/ if }}
    {{ photos artisan.scritchMiniatureUrls artisan.scritchPhotoUrls }}
    {{# if artisan.intro }}
        <div class="col-sm-12 p-1">
            <p class="lead">{{ artisan.intro }}</p>
        </div>
    {{/ if }}
    <div class="col-sm-4 p-1">
        <h5>Produces</h5>
        <div class="small pb-2">
            {{ optionalList artisan.productionModels }}
        </div>
        <h5>Styles</h5>
        <div class="small">
            {{ optionalList artisan.allStyles }}
        </div>
    </div>
    <div class="col-sm-4 p-1">
        <h5>Types</h5>
        <div class="small">
            {{ optionalList artisan.allOrderTypes }}
        </div>
    </div>
    <div class="col-sm-4 p-1">
        <h5>Features</h5>
        <div class="small">
            {{ optionalList artisan.allFeatures }}
        </div>
    </div>
    <div class="col-sm-6 p-1">
        <h5>Species</h5>
        <div class="small" id="artisanSpecies">
            {{# if (has artisan.speciesDoes) }}
                <strong>Does</strong>: {{ commaSeparated artisan.speciesDoes }}
                {{# if (has artisan.speciesDoesnt) }}<br />{{/ if }}
            {{/ if }}
            {{# if (has artisan.speciesDoesnt) }}
                <strong>Doesn't</strong>: {{ commaSeparated artisan.speciesDoesnt }}
            {{ else }}
                {{# unless (has artisan.speciesDoes) }}
                    <i class="fas fa-question-circle" title="Unknown"></i>
                {{/ unless }}
            {{/ if }}
        </div>
    </div>
    <div class="col-sm-6 p-1">
        <h5>Payment plans</h5>
        <div class="small">
            {{ optional artisan.paymentPlans }}
        </div>
    </div>
    <div class="col-sm-12 p-1">
        <h5>Languages</h5>
        <div class="small">
            {{ optional artisan.languages }}
        </div>
    </div>
    <div class="col-sm-12 p-1">
        <h5>Links</h5>
        <p class="small">
            If you're going to contact the studio/maker, <u>please let them know you found them here{{# unless artisan.completenessGood }} and that their data could use some updates{{/ unless }}</u>! This&nbsp;will help us all a lot. Thank you!
        </p>
        <div id="artisanLinks">
            {{# if artisan.fursuitReviewUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.fursuitReviewUrl }}" rel="nofollow" target="_blank"><i class="fas fa-balance-scale"></i> FursuitReview</a>
            {{/ if }}
            {{# if artisan.websiteUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.websiteUrl }}" rel="nofollow" target="_blank"><i class="fas fa-link"></i> Official website</a>
            {{/ if }}
            {{# if artisan.pricesUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.pricesUrl }}" rel="nofollow" target="_blank"><i class="fas fa-dollar-sign"></i> Prices</a>
            {{/ if }}
            {{# if artisan.faqUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.faqUrl }}" rel="nofollow" target="_blank"><i class="fas fa-comments"></i> FAQ</a>
            {{/ if }}
            {{# if artisan.queueUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.queueUrl }}" rel="nofollow" target="_blank"><i class="fas fa-clipboard-list"></i> Queue</a>
            {{/ if }}
            {{# if artisan.furAffinityUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.furAffinityUrl }}" rel="nofollow" target="_blank"><img src="FurAffinity.svg" alt=""/> FurAffinity</a>
            {{/ if }}
            {{# if artisan.deviantArtUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.deviantArtUrl }}" rel="nofollow" target="_blank"><i class="fab fa-deviantart"></i> DeviantArt</a>
            {{/ if }}
            {{# if artisan.twitterUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.twitterUrl }}" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
            {{/ if }}
            {{# if artisan.facebookUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.facebookUrl }}" rel="nofollow" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
            {{/ if }}
            {{# if artisan.tumblrUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.tumblrUrl }}" rel="nofollow" target="_blank"><i class="fab fa-tumblr"></i> Tumblr</a>
            {{/ if }}
            {{# if artisan.youtubeUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.youtubeUrl }}" rel="nofollow" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
            {{/ if }}
            {{# if artisan.instagramUrl }}
                <a class="btn btn-light m-1" href="#" data-href="{{ artisan.instagramUrl }}" rel="nofollow" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            {{/ if }}
        </div>
    </div>
    <div class="row p-1">
        <div class="col-sm">
            <h5>Commissions status</h5>
            <div class="small" id="artisanCommissionsStatus">
                {{# if artisan.cstUrl }}
                    {{# if artisan.commissionsStatusKnown }}
                        Commissions are <strong>{{ artisan.commissionsStatusText }}</strong>.

                        Status is tracked and updated automatically from this web page:
                        <a href="#" data-href="{{ artisan.cstUrl }}" rel="nofollow" target="_blank">{{ artisan.cstUrl }}</a>.

                        Last time checked on {{ artisan.cstLastCheck }} UTC.
                    {{ else }}
                        Commissions status is <strong>{{ artisan.commissionsStatusText }}</strong>.

                        It should be tracked and updated automatically from this web page:
                        <a href="#" data-href="{{ artisan.cstUrl }}" rel="nofollow" target="_blank">{{ artisan.cstUrl }}</a>,
                        however the software failed to "understand" the status based on the page contents.

                        Last time it tried on {{ artisan.cstLastCheck }} UTC.
                    {{/ if }}
                {{ else }}
                    Commissions are <strong>{{ artisan.commissionsStatusText }}</strong>.

                    Status is not automatically tracked and updated.
                {{/ if }}
                <a href="{% endverbatim %}{{ path('tracking') }}{% verbatim %}" target="_blank">Learn more</a>
            </div>
        </div>
        {{# if artisan.cstUrl }}
            {{# unless artisan.commissionsStatusKnown }}
                <div class="col-sm-4">
                    <img src="{% endverbatim %}{{ asset('images/parsing_failed.webp') }}{% verbatim %}" class="img-fluid" alt="">
                </div>
            {{/ unless }}
        {{/ if }}
    </div>
    <div class="col-sm-12 p-1 pt-3">
        <h5>Data incomplete/<wbr>inaccurate/outdated?</h5>
        <p class="small">
            This maker/studio has {{ artisan.completeness }}% data completeness.
            {{ artisan.completenessComment }}
        </p>
        {% endverbatim %}{% include 'main/parts/update_request_contents.html.twig' with { 'id': 'updateRequestFull' }%}{% verbatim %}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
{% endverbatim %}
