{% verbatim %}
<div class="modal-header">
    <h5 class="modal-title">
        {{# if artisan.makerId }}
            {{! Grep code for WORKAROUND_PLACEHOLDERS_CREATING_FAKE_404S: data-href ---> href }}
            <a id="makerId" href="#" data-href="#{{ artisan.makerId }}" rel="nofollow"><span class="badge bg-secondary"><i class="fas fa-link"></i> {{ artisan.makerId }}</span></a>
        {{/ if }}

        <span id="artisanName">{{ artisan.name }}</span>{{# if artisan.country }}&nbsp;<span class="flag-icon flag-icon-{{ artisan.lcCountry }}"></span>{{/ if }}

        <small>
            Based in {{ optional artisan.location }};
            crafting since {{ since artisan.since }}
            {{# if artisan.formerly }}
                <br />Formerly {{ commaSeparated artisan.formerly }}
            {{/ if }}
        </small>
    </h5>

    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body row px-4 py-2">
    {{# if artisan.inactiveReason }}
        <div class="col-sm-12 p-1 alert alert-warning" role="alert">
            <strong>This maker has been marked as inactive</strong>, reason: {{ artisan.inactiveReason }}
        </div>
    {{/ if }}
    {{ photos artisan.miniatureUrls artisan.photoUrls }}
    {{# if artisan.intro }}
        <div class="col-sm-12 p-1">
            <p class="lead">{{ artisan.intro }}</p>
        </div>
    {{/ if }}
    <div class="col-sm-3 p-1">
        <h5>Produces</h5>
        <div class="small pb-2">
            {{# if (has artisan.productionModelsComment) }}
                {{ artisan.productionModelsComment }}
            {{/ if }}
            {{ optionalList artisan.productionModels }}
        </div>
        <h5>Styles</h5>
        <div class="small">
            {{# if (has artisan.stylesComment) }}
                {{ artisan.stylesComment }}
            {{/ if }}
            {{ optionalList artisan.allStyles }}
        </div>
    </div>
    <div class="col-sm-5 p-1">
        <h5>Types</h5>
        <div class="small">
            {{# if (has artisan.orderTypesComment) }}
                {{ artisan.orderTypesComment }}
            {{/ if }}
            {{ optionalList artisan.allOrderTypes }}
        </div>
    </div>
    <div class="col-sm-4 p-1">
        <h5>Features</h5>
        <div class="small">
            {{# if (has artisan.featuresComment) }}
                {{ artisan.featuresComment }}
            {{/ if }}
            {{ optionalList artisan.allFeatures }}
        </div>
    </div>
    <div class="col-sm-6 p-1">
        <h5>Species</h5>
        <div class="small" id="artisanSpecies">
            {{# if (has artisan.speciesComment) }}
                {{ artisan.speciesComment }} <br />
            {{/ if }}
            {{# if (has artisan.speciesDoes) }}
                <strong>Does</strong>: {{ commaSeparated artisan.speciesDoes }}
                {{# if (has artisan.speciesDoesnt) }}<br />{{/ if }}
            {{/ if }}
            {{# if (has artisan.speciesDoesnt) }}
                <strong>Doesn't</strong>: {{ commaSeparated artisan.speciesDoesnt }}
            {{ else }}
                {{# unless (has artisan.speciesDoes) }}
                    <i class="fas fa-question-circle" title="Unknown"></i>
                {{/ unless }}
            {{/ if }}
        </div>
    </div>
    <div class="col-sm-6 p-1">
        <h5>Payment plans</h5>
        <div class="small">
            {{ optional artisan.paymentPlans }}
        </div>
    </div>
    <div class="col-sm-12 p-1">
        <h5>Languages</h5>
        <div class="small">
            {{ optional artisan.languages }}
        </div>
    </div>
    <div class="col-sm-12 p-1">
        <h5>Links</h5>
        <p class="small mb-1">
            If you're going to contact the studio/maker, <u>please let them know you found them here{{# unless artisan.completenessGood }} and that their data could use some updates{{/ unless }}</u>! This&nbsp;will help us all a lot. Thank you!
        </p>
        <div id="artisanLinks"> {{! for the track-website, track-* see grep-track-link-classes }}
            <a class="btn btn-light track-ab border border-primary" href="#" data-href="https://bewares.getfursu.it/#search:{{ artisan.abSearchJson }}" target="_blank">Check Artists Beware records</a>
            {{# if artisan.fursuitReviewUrl }}
                <a class="btn btn-light track-fsr border border-primary" href="#" data-href="{{ artisan.fursuitReviewUrl }}" rel="nofollow" target="_blank"><i class="fas fa-balance-scale"></i> FursuitReview</a>
            {{/ if }}
            {{# if artisan.websiteUrl }}
                <a class="btn btn-light track-website" href="#" data-href="{{ artisan.websiteUrl }}" rel="nofollow" target="_blank"><i class="fas fa-link"></i> Official website</a>
            {{/ if }}
            {{# each artisan.pricesUrls }}
                <a class="btn btn-light track-prices" href="#" data-href="{{ this }}" rel="nofollow" target="_blank"><i class="fas fa-dollar-sign"></i> Prices</a>
            {{/ each }}
            {{# if artisan.faqUrl }}
                <a class="btn btn-light track-faq" href="#" data-href="{{ artisan.faqUrl }}" rel="nofollow" target="_blank"><i class="fas fa-comments"></i> FAQ</a>
            {{/ if }}
            {{# if artisan.queueUrl }}
                <a class="btn btn-light track-queue" href="#" data-href="{{ artisan.queueUrl }}" rel="nofollow" target="_blank"><i class="fas fa-clipboard-list"></i> Queue</a>
            {{/ if }}
            {{# if artisan.furAffinityUrl }}
                <a class="btn btn-light track-fa" href="#" data-href="{{ artisan.furAffinityUrl }}" rel="nofollow" target="_blank"><i class="fas fa-image"></i> FurAffinity</a>
            {{/ if }}
            {{# if artisan.deviantArtUrl }}
                <a class="btn btn-light track-da" href="#" data-href="{{ artisan.deviantArtUrl }}" rel="nofollow" target="_blank"><i class="fab fa-deviantart"></i> DeviantArt</a>
            {{/ if }}
            {{# if artisan.twitterUrl }}
                <a class="btn btn-light track-twitter" href="#" data-href="{{ artisan.twitterUrl }}" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
            {{/ if }}
            {{# if artisan.facebookUrl }}
                <a class="btn btn-light track-facebook" href="#" data-href="{{ artisan.facebookUrl }}" rel="nofollow" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
            {{/ if }}
            {{# if artisan.tumblrUrl }}
                <a class="btn btn-light track-tumblr" href="#" data-href="{{ artisan.tumblrUrl }}" rel="nofollow" target="_blank"><i class="fab fa-tumblr"></i> Tumblr</a>
            {{/ if }}
            {{# if artisan.youtubeUrl }}
                <a class="btn btn-light track-youtube" href="#" data-href="{{ artisan.youtubeUrl }}" rel="nofollow" target="_blank"><i class="fab fa-youtube"></i> YouTube</a>
            {{/ if }}
            {{# if artisan.instagramUrl }}
                <a class="btn btn-light track-instagram" href="#" data-href="{{ artisan.instagramUrl }}" rel="nofollow" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            {{/ if }}
            {{# if artisan.etsyUrl }}
                <a class="btn btn-light track-etsy" href="#" data-href="{{ artisan.etsyUrl }}" rel="nofollow" target="_blank"><i class="fab fa-etsy"></i> Etsy</a>
            {{/ if }}
            {{# if artisan.theDealersDenUrl }}
                <a class="btn btn-light track-tdd" href="#" data-href="{{ artisan.theDealersDenUrl }}" rel="nofollow" target="_blank"><i class="fas fa-shopping-cart"></i> The Dealers Den</a>
            {{/ if }}
            {{# if artisan.otherShopUrl }}
                <a class="btn btn-light track-shop" href="#" data-href="{{ artisan.otherShopUrl }}" rel="nofollow" target="_blank"><i class="fas fa-shopping-cart"></i> On-line shop</a>
            {{/ if }}
            {{# if artisan.furryAminoUrl }}
                <a class="btn btn-light track-amino" href="#" data-href="{{ artisan.furryAminoUrl }}" rel="nofollow" target="_blank"><i class="fas fa-paw"></i> Furry Amino</a>
            {{/ if }}
            {{# if artisan.scritchUrl }}
                <a class="btn btn-light track-scritch" href="#" data-href="{{ artisan.scritchUrl }}" rel="nofollow" target="_blank"><i class="fas fa-camera"></i> Scritch</a>
            {{/ if }}
            {{# if artisan.furtrackUrl }}
                <a class="btn btn-light track-furtrack" href="#" data-href="{{ artisan.furtrackUrl }}" rel="nofollow" target="_blank"><i class="fas fa-camera"></i> Furtrack</a>
            {{/ if }}
            {{# if artisan.linklistUrl }}
                <a class="btn btn-light track-links" href="#" data-href="{{ artisan.linklistUrl }}" rel="nofollow" target="_blank"><i class="fas fa-link"></i> List of links</a>
            {{/ if }}
        </div>
    </div>

    <div class="col-sm-12 p-1">
        <h5>Commissions status</h5>
    </div>

    {{# unless artisan.commissionsUrls }}
        <div class="col-sm-12 p-1">
            <p>Commissions status is not being tracked.</p>

            <p><a href="{% endverbatim %}{{ path('tracking') }}{% verbatim %}" target="_blank">Learn more</a></p>
        </div>
    {{ else }}
        <div class="{{# if artisan.isStatusKnown }}col-sm-6{{ else }}col-sm-8{{/ if }} p-1">
            {{# if artisan.isStatusKnown }}
                {{# if artisan.csTrackerIssue }}
                    <p><strong>Note:</strong> the software encountered apparent difficulties while figuring out the status; the information is most probably inaccurate/incomplete.</p>
                {{/ if }}
                <table class="table table-sm table-striped table-borderless">
                    {{# each artisan.openFor }}
                        <tr> <td>{{ this }}</td><td><i class="fas fa-check-square"></i>&nbsp;Open</td> </tr>
                    {{/ each }}
                    {{# each artisan.closedFor }}
                        <tr> <td>{{ this }}</td><td><i class="fas fa-times-circle"></i>&nbsp;Closed</td> </tr>
                    {{/ each }}
                </table>
            {{ else }}
                <p>
                    Failed to automatically determine commissions status. It should be tracked and updated automatically based on the contents of:
                    {{# each artisan.commissionsUrls }}
                        <a href="#" data-href="{{ this }}" rel="nofollow" target="_blank">{{ this }}</a>
                    {{/ each }}, however the software failed to "understand" the contents.
                    Last time tried on {{ artisan.csLastCheck }} UTC.
                </p>

                <p><a href="{% endverbatim %}{{ path('tracking') }}{% verbatim %}" target="_blank">Learn more</a></p>
            {{/ if }}
        </div>
        <div class="{{# if artisan.isStatusKnown }}col-sm-6{{ else }}col-sm-4 text-end{{/ if }} p-1">
            {{# if artisan.isStatusKnown }}
                <p>
                    Status is tracked and updated automatically based on the contents of:
                    {{# each artisan.commissionsUrls }}
                        <a href="#" data-href="{{ this }}" rel="nofollow" target="_blank">{{ this }}</a>
                    {{/ each }}
                    <br />
                    Last time checked on {{ artisan.csLastCheck }} UTC.
                </p>

                <p><a href="{% endverbatim %}{{ path('tracking') }}{% verbatim %}" target="_blank">Learn more</a></p>
            {{ else }}
                {% endverbatim %}<img src="{{ asset('images/parsing_failed.webp') }}" class="img-fluid tracking-failed" alt="">{% verbatim %}
            {{/ if }}
        </div>
    {{/ unless }}

    <div class="col-sm-12 p-1 pt-3">
        <h5>Data incomplete/<wbr>inaccurate/outdated?</h5>
        <p class="small">
            This maker/studio has {{ artisan.completeness }}% data completeness.
            {{ artisan.completenessComment }}
        </p>
        {% endverbatim %}{% include 'main/parts/update_request_contents.html.twig' with { 'id': 'updateRequestFull' }%}{% verbatim %}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
{% endverbatim %}
