<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>getfursu.it{% if isDevEnv() %} DEV{% endif %} - {% block title %}be true furry self{% endblock %}</title>

    {% block add_meta %}{% endblock %}

    {% if noindex|default(false) %}
        <meta name="robots" content="noindex" />
    {% else %}
        <link rel="canonical" href="https://getfursu.it{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    {% endif %}

    <script>
        const DATA_BRIDGE = {
            mainPath: '{{ path('main')|escape('js') }}',
            apiBaseUrl: '{{ url('api')|escape('js') }}',
            shouldKnowPath: '{{ path('should_know')|escape('js') }}',
            trackingPath: '{{ path('tracking')|escape('js') }}',
            trackingLimitationsPath: '{{ path('tracking', { _fragment: 'tracking_limitations' })|escape('js') }}',
            googleRecaptchaSiteKey: '{{ google_recaptcha_site_key|escape('js') }}',
            iuFormRedirectUrl: '{{ url('iu_form_step_start', { makerId: 'MAKER_ID' })|escape('js') }}',
            feedbackFormPath: '{{ path('feedback_form', { maker: 'MAKER_ID' })|escape('js') }}', {# grep-maker-query-parameter #}
            artisanEditPath: '{{ path('mx_artisan_edit', { makerId: 'MAKER_ID' })|escape('js') }}',
            trackingFailedImgSrc: '{{ asset('images/parsing_failed.webp')|escape('js') }}',
            environment: '{{ isDevEnv() ? 'dev' : 'prod' }}',
        };
    </script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('general') }}
    {% endblock %}
</head>

<body>
    {% include '_menu.html.twig' %}

    <div class="container">
        {% block body %}{% endblock %}

        <hr class="my-5" />

        {% include '_footer.html.twig' %}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('general') }}
    {% endblock %}
</body>
</html>
