<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>getfursu.it - {% block title %}be true furry self{% endblock %}</title>

    {% block add_meta %}{% endblock %}

    {% if noindex|default(false) %}
        <meta name="robots" content="noindex" />
    {% else %}
        <link rel="canonical" href="https://getfursu.it{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    {% endif %}

    <script>
        const DATA_BRIDGE = {
            apiBaseUrl: '{{ url('api')|escape('js') }}',
            infoUrl: '{{ path('info')|escape('js') }}',
            trackingUrl: '{{ path('tracking')|escape('js') }}',
            googleRecaptchaSiteKey: '{{ google_recaptcha_site_key|escape('js') }}',
            iuFormRedirectUrl: '{{ path('iu_form_step_start', { makerId: 'MAKER_ID' })|escape('js') }}',
            reportFormUrl: '{{ report_form_url|escape('js') }}',
            trackingFailedImgSrc: '{{ asset('images/parsing_failed.webp')|escape('js') }}',
        };
    </script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('general') }}
    {% endblock %}

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    {% if not disable_tracking ?? false and google_analytics_id %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', '{{ google_analytics_id }}');
        </script>
    {% endif %}
</head>

<body class="{% block body_class %}{% endblock %}">

{% include '_menu.html.twig' %}

<div class="container">
    {% block body %}{% endblock %}

    <hr class="my-5" />

    {% include '_legal.html.twig' %}
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('general') }}
{% endblock %}
</body>
</html>
