<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>getfursu.it - {% block title %}list of fursuit makers. Find your maker!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    {% if noindex|default(false) %}
        <meta name="robots" content="noindex" />
    {% else %}
        <link rel="canonical" href="https://getfursu.it{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    {% endif %}

    <script>
        var API_BASE_URL = '{{ url('api') }}';
        var DATA_UPDATES_URL = '{{ path('data_updates') }}';
        var GOOGLE_RECAPTCHA_SITE_KEY = '{{ google_recaptcha_site_key }}';
        var IU_FORM_REDIRECT_URL = '{{ path('iu_form', { makerId: 'MAKER_ID' }) }}';
        var REQUEST_FORM_URL = '{{ request_form_url }}';
    </script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('general') }}
    {% endblock %}

    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    {% if not disable_tracking ?? false and google_analytics_id %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', '{{ google_analytics_id }}');
        </script>
    {% endif %}
</head>

<body class="{% block body_class %}{% endblock %}">

<div class="container">
    {% include '_menu.html.twig' %}

    {% block body %}{% endblock %}

    <hr class="my-5" />

    {% include '_legal.html.twig' %}
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('general') }}
{% endblock %}
</body>
</html>
