<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {%- if env_name != 'prod' %}
            {{ env_name|upper }}
        {% endif -%}

        getfursu.it - {% block title %}be true furry self{% endblock -%}
    </title>

    {% block add_meta %}{% endblock %}

    {% if noindex|default(false) %}
        <meta name="robots" content="noindex" />
    {% else %}
        <link rel="canonical" href="https://getfursu.it{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
    {% endif %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('general') }}
    {% endblock %}
</head>

<body>
    <div id="top-menu-container" hx-get="{{ path('htmx_menu') }}" hx-trigger="load" hx-on:htmx:after-on-load="jQuery(this).trigger('navbar-init');">
        {{ render(path('htmx_menu', {no_session: true})) }}
    </div>

    <div class="container">
        {% block body %}{% endblock %}

        {{ include('_footer.html.twig') }}
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('general') }}
    {% endblock %}
</body>
</html>
