{% for topic_items in topics %}
    {% set topic = topic_items.entity %}
    {% set response_form = topic_items.response_form %}

    <div class="card mb-2">
        <div class="card-header">
            <strong>{{ topic.user.nickname }}</strong>
            wrote on {{ topic.postedUtc|fragile_datetime_utc }}
            <span class="text-body-tertiary">(#{{ topic.id }})</span>

            <a href="{{ path('route_vote_post', {id: submission.id, postId: topic.id, positive: 1}) }}">
                {#--#}<i class="{% if topic.upvotedBy(app.user) %}text-success fa-solid{% else %}text-secondary fa-regular{% endif %} fa-circle-up"></i>{#--#}
            </a>
            {# TODO: Summary #}
            <a href="{{ path('route_vote_post', {id: submission.id, postId: topic.id, positive: 0}) }}">
                {#--#}<i class="{% if topic.downvotedBy(app.user) %}text-danger fa-solid{% else %}text-secondary fa-regular{% endif %} fa-circle-down"></i>{#--#}
            </a>
        </div>

        <div class="card-body">{{ topic.message|nl2br }}</div>

        {% if topic.responses is not empty %}
            <div class="card-body ps-5 pb-0">
                {% for response in topic.responses %}
                    <p class="mb-1">
                        <strong>{{ response.user.nickname }}</strong>
                        responded on {{ response.postedUtc|fragile_datetime_utc }}
                        <span class="text-body-tertiary">(#{{ response.id }})</span>

                        <i class="{% if response.upvotedBy(app.user) %}text-success fa-solid{% else %}text-secondary fa-regular{% endif %} fa-circle-up"></i>
                        {# TODO: Links & summary #}
                        <i class="{% if response.downvotedBy(app.user) %}text-danger fa-solid{% else %}text-secondary fa-regular{% endif %} fa-circle-down"></i>
                    </p>

                    <p>{{ response.message|nl2br }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <div class="card-body ps-5">
            {{ form_start(response_form) }}
            {{ form_widget(response_form.message) }}
            {{ form_errors(response_form.message) }}
            <button type="submit" class="btn btn-primary btn-sm mt-2">Respond</button>
            {{ form_end(response_form) }}
        </div>
    </div>
{% endfor %}

<div class="card">
    <div class="card-header">
        Start new topic
    </div>

    <div class="card-body">
        {{ form_start(new_topic_form) }}
        {{ form_widget(new_topic_form.message) }}
        {{ form_errors(new_topic_form.message) }}
        <button type="submit" class="btn btn-primary btn-sm mt-2">Post</button>
        {{ form_end(new_topic_form) }}
    </div>
</div>
