{% macro votes(submission, post, positive) %}
    {% set has_voted = positive ? post.upvotedBy(app.user) : post.downvotedBy(app.user) %}
    {% set color_class = positive ? 'success' : 'danger' %}

    <span class="{{ positive ? 'upvotes' : 'downvotes' }}">
        {% if app.user !== post.user %}
            <a href="{{ path('rt_vote_post', {id: submission.id, postId: post.id, positive: positive}) }}">
                {#--#}
                <i class="{% if has_voted %}text-{{ color_class }} fa-solid{% else %}text-secondary fa-regular{% endif %} {{ positive ? 'fa-circle-up' : 'fa-circle-down' }}"></i>
                {#--#}
            </a>
        {% endif %}

        <span class="text-{{ color_class }}-emphasis">
            {%- set votes_count = positive ? post.upvotesCount(app.user) : post.downvotesCount(app.user) -%}
            {%- if votes_count > 0 %}{{ positive ? '+' : '-' }}{{ votes_count }}{% endif -%}
        </span>
    </span>
{% endmacro %}

{% macro post_header(submission, post, action) %}
    <strong>{{ post.user.nickname }}</strong>
    <sub>
        {{ action }} on {{ post.postedUtc|fragile_datetime_utc }}
        <span class="text-body-tertiary">(#{{ post.id }})</span>
    </sub>

    {{ _self.votes(submission, post, 1) }}
    {{ _self.votes(submission, post, 0) }}

    {% if access_decision('edit', post).isGranted %}
        &nbsp; <a class="edit-post" href="{{ path('rt_edit_post', {id: post.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
    {% endif %}
{% endmacro %}

{% macro optional_unread_class(context, post) %}
    {% if not context.tracker.isRead(post) %}unread{% endif %}
{% endmacro %}

{% macro post_footer(post) %}
    {% if post.editedUtc %}
        <p class="text-end m-0"><sub>Edited {{ post.editedUtc|fragile_datetime_utc }}</sub></p>
    {% endif %}
{% endmacro %}

{% for topic_items in topics %}
    {% set topic = topic_items.entity %}
    {% set response_form = topic_items.response_form %}

    <div class="card mb-2 topic" id="post-{{ topic.id }}"> {# grep-code-post-id-anchor #}
        <div class="card-header topic-header">
            {{ _self.post_header(submission, topic, 'wrote') }}
        </div>

        <div class="card-body pb-2">
            <p class="topic-text {{ _self.optional_unread_class(_context, topic) }} m-0">{{ topic.message|nl2br }}</p>

            {{ _self.post_footer(topic) }}
        </div>

        {% if topic.responses is not empty %}
            <div class="card-body ps-5 py-0">
                {% for response in topic.responses %}
                    <div class="response  {{ _self.optional_unread_class(_context, response) }}" id="post-{{ response.id }}"> {# grep-code-post-id-anchor #}
                        <p class="response-header mb-1">
                            {{ _self.post_header(submission, response, 'responded') }}
                        </p>

                        <div class="mt-0 mb-2">
                            <p class="response-text m-0">{{ response.message|nl2br }}</p>

                            {{ _self.post_footer(response) }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="card-body ps-5 pt-0">
            {% set response_form_id = 'response-form-' ~ topic.id %}
            <a class="btn btn-sm btn-outline-primary" href="#{{ response_form_id }}" data-bs-toggle="collapse">
                <i class="fa-solid fa-reply"></i> Respond
            </a>
            <a class="btn btn-sm btn-outline-primary" href="{{ path('rt_mark_topic_read', {id: topic.id, timestampUtc: timestampUtc}) }}">
                <i class="fa-regular fa-square-check"></i> Mark topic as read
            </a>

            <div class="collapse mt-2" id="{{ response_form_id }}">
                {{ form_start(response_form) }}
                {{ form_widget(response_form.message) }}
                {{ form_errors(response_form.message) }}
                <button type="submit" class="btn btn-primary btn-sm mt-2">Send</button>
                {{ form_end(response_form) }}
            </div>
        </div>
    </div>
{% endfor %}

<div class="card" id="new-topic-form">
    <div class="card-header">
        Start new topic
    </div>

    <div class="card-body">
        {{ form_start(new_topic_form) }}
        {{ form_widget(new_topic_form.message) }}
        {{ form_errors(new_topic_form.message) }}
        <button type="submit" class="btn btn-primary btn-sm mt-2">Post</button>
        {{ form_end(new_topic_form) }}
    </div>
</div>
