<fieldset class="region">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-check form-check-inline">
                <input class="form-check-input" name="countries[]" type="checkbox" id="countryCheckBoxUnknown"
                       value=""/>
                <label class="form-check-label" for="countryCheckBoxUnknown">
                    <i class="fas fa-question-circle"></i> Unknown
                </label>
            </div>
        </div>
    </div>
</fieldset>

{% for region, regionCountries in countries %}
    <fieldset class="region">
        <legend>
            {{ region }}

            <span class="allNoneInvert" aria-hidden="true">
                selection: <a data-action="all" href="">all</a>
                &bull; <a data-action="none" href="">none</a>
                &bull; <a data-action="invert" href="">invert</a>
            </span>
        </legend>

        <div class="row">
            {% for country in regionCountries %}
                {% set checkboxId = 'countryCheckBox' ~ country.code %}

                <div class="col-sm-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="countries[]" type="checkbox" id="{{ checkboxId }}"
                               value="{{ country.code }}"/>
                        <label class="form-check-label" for="{{ checkboxId }}">
                            <span class="flag-icon flag-icon-{{ country.code|lower }}"></span>
                            {{ country.name }}
                            <span class="count">({{ country.count }})</span>
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </fieldset>
{% endfor %}
