<div class="row pb-3">
    <div class="col col-sm-4">
        <label for="countriesFilter">Choose fursuit makers' countries:</label>
        <select multiple="multiple" id="countriesFilter" class="form-control">
            <option value="">Show unknown</option>
            {% for country, count in countries %}
                <option value="{{ country }}">{{ country }} ({{ count }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="col col-sm-4">
        <label for="stylesFilter">Choose fursuit styles offered by makers:</label>
        <select multiple="multiple" id="stylesFilter" class="form-control">
            <option value="">Show unknown</option>
            <option value="Other">Other</option>
            {% for style, count in styles %}
                <option value="{{ style }}">{{ style }} ({{ count }})</option>
            {% endfor %}
        </select>
    </div>

    <div class="col col-sm-4">
        <label for="featuresFilter">Choose fursuit features offered by makers:</label>
        <select multiple="multiple" id="featuresFilter" class="form-control">
            <option value="">Show unknown</option>
            <option value="Other">Other</option>
            {% for feature, count in features %}
                <option value="{{ feature }}">{{ feature }} ({{  count }})</option>
            {% endfor %}
        </select>
    </div>
</div>
