{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main') }}
{% endblock %}

{% block body %}
    {% include 'frontend/main/_intro.html.twig' %}
    {% include 'frontend/main/_filters.html.twig' %}
    {% include 'frontend/main/_artisan_modal.html.twig' %}
    {% include 'frontend/main/_update_request_modal.html.twig' %}
    {% include 'frontend/main/_data_table.html.twig' %}
    <div class="container text-center">
        <img src="{{ asset('images/website-banner-bottom.png') }}" class="img-fluid" alt="">
    </div>
{% endblock %}
