{% extends '_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_password') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_password') }}
{% endblock %}

{% block title %}change password{% endblock %}

{% block body %}
    <h1 class="my-4">Change password</h1>

    {{ form_start(password_form) }}
    {{ form_row(password_form.currentPassword) }}
    {{ form_row(password_form.newPassword) }}
    <div class="mb-3">
        <p><span id="password-feedback"></span> <small id="password-explanation" class="text-body-secondary"></small></p>
    </div>

    <button class="btn btn-primary">Change password</button>
    {{ form_end(password_form) }}
{% endblock %}
