{% extends '_base.html.twig' %}

{% block title %}reset your password{% endblock %}

{% block body %}
    <h1 class="my-4">Reset your password</h1>

    {{ form_errors(request_form) }}
    {{ form_start(request_form) }}

    {{ form_row(request_form.email) }}
    {{ render(controller('App\\Captcha\\Controller::challenge', {form: request_form.captcha})) }}

    <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(request_form) }}
{% endblock %}
