{% extends '_base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('user_password') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('user_password') }}
{% endblock %}

{% block title %}registration{% endblock %}

{% block body %}
    <h1 class="my-4">Registration</h1>

    <div class="alert alert-warning" role="alert">
        Adding new makers/studios is suspended until further notice.
    </div>

    <div class="accordion" id="registrationAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button {% if was_submitted %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#registrationAccordionItem1" aria-expanded="true" aria-controls="registrationAccordionItem1">
                    You may need not to register
                </button>
            </h2>
            <div id="registrationAccordionItem1" class="accordion-collapse collapse {% if not was_submitted %}show{% endif %}" data-bs-parent="#registrationAccordion">
                <div class="accordion-body">
                    <p>
                        <strong>Your studio could already be on the list</strong> even though you don't remember registering. To avoid wasting time filling the whole submission, please use the <i class="fa-solid fa-magnifying-glass"></i> method below.
                    </p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#registrationAccordionItem2" aria-expanded="false" aria-controls="registrationAccordionItem2">
                    How to make sure if you are on the list &nbsp; <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </h2>
            <div id="registrationAccordionItem2" class="accordion-collapse collapse" data-bs-parent="#registrationAccordion">
                <div class="accordion-body">
                    <ol>
                        <li>Please navigate to the main page using this link: <a class="disable-filters-goto-main-page" href="{{ path('main') }}" target="_blank"><i class="fa-solid fa-filter-circle-xmark"></i> Temporarily disable all the filters and <strong>open the main page</strong></a></li>
                        <li>Use the search field trying to find your studio / your name. Check old names as well. Search by fragments (single words) of the name.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#registrationAccordionItem3" aria-expanded="false" aria-controls="registrationAccordionItem3">
                    My name / studio is on the list
                </button>
            </h2>
            <div id="registrationAccordionItem3" class="accordion-collapse collapse" data-bs-parent="#registrationAccordion">
                <div class="accordion-body">
                    <ol>
                        <li>If you remember the email and password which you were using to submit your data previously, try simply logging in with them.</li>
                        <li>If you do not remember the password, but know for sure which email address you were using, try using the password reset function.</li>
                        <li>Still no luck? Please <a href="{{ path(constant('App\\ValueObject\\Routing\\RouteName::CONTACT')) }}">contact the maintainer</a>, "<mark class="user-select-all">I want to claim my studio, » NAME/FORMER NAMES HERE «</mark>".</li>
                    </ol>

                    <p><span class="badge text-bg-warning">NOTE!</span> You will need to re-verify your email once you sign in for the first time.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button {% if not was_submitted %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#registrationAccordionItem4" aria-expanded="false" aria-controls="registrationAccordionItem4">
                    Double checked - I'm not there
                </button>
            </h2>
            <div id="registrationAccordionItem4" class="accordion-collapse collapse {% if was_submitted %}show{% endif %}" data-bs-parent="#registrationAccordion">
                <div class="accordion-body">
                    {{ form_errors(registration_form) }}
                    {{ form_start(registration_form) }}

                    {{ form_row(registration_form.email) }}
                    {{ form_row(registration_form.newPassword) }}
                    <div class="mb-3">
                        <p><span id="password-feedback"></span> <small id="password-explanation" class="text-body-secondary"></small></p>
                    </div>
                    {{ render(controller('App\\Captcha\\Controller::challenge', {form: registration_form.captcha})) }}

                    <button class="btn btn-lg btn-primary" type="submit">Register</button>
                    {{ form_end(registration_form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
