{% extends '_base.html.twig' %}

{% block title %}registration{% endblock %} {# FIXME: Improve visuals #}

{% block body %}
    <h1 class="my-4">Registration</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
