{% extends '_base.html.twig' %}

{% block body %}
    <p class="small">All times are UTC</p>

    <ul class="list-unstyled">
        {% for event in events %}
            <li>
                <span class="small">{{ event.timestamp|date('Y-m-d H:i') }}</span>

                {% if event.lostTrack %}

                    Failed to interpret commission status based on the contents of:
                    <a href="{{ event.checkedUrl }}" target="_blank">{{ event.checkedUrl|event_url }}</a>.
                    <b>{{ event.artisanName }}</b> commissions status is now
                    <b>{{ event.newStatus|status_text }}</b> (was {{ event.oldStatus|status_text }}).

                {% elseif event.changedStatus %}

                    Based on the contents of
                    <a href="{{ event.checkedUrl }}" target="_blank">{{ event.checkedUrl|event_url }}</a>,
                    <b>{{ event.artisanName }}</b> commissions status is now
                    <b>{{ event.newStatus|status_text }}</b> (was {{ event.oldStatus|status_text }}).

                {% else %}

                    {{ event.description|raw }}

                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
