{% extends '_base.html.twig' %}

{% block title %}updates history{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('events') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('events') }}
{% endblock %}

{% block body %}
    <p class="small">All times are UTC</p>

    <ul class="list-unstyled" id="events-list">
        {% set last_timestamp = null %}

        {% for event in events %}
            {% set day_changed = last_timestamp is null or last_timestamp|date('Y-m-d') != event.timestamp|date('Y-m-d') %}
            {% set time_changed = last_timestamp is null or last_timestamp|date('Y-m-d H:i') != event.timestamp|date('Y-m-d H:i') %}
            {% set last_timestamp = event.timestamp %}

            <li class="events-item row" id="event{{ event.id }}">
                <div class="col-sm-2 pb-1 text-right small {% if day_changed %}border-top{% endif %}">
                    <a href="#event{{ event.id }}">
                        {% if day_changed %} {{ event.timestamp|date('jS M Y') }}, {% endif %}
                        {% if time_changed %} {{ event.timestamp|date('H:i') }} {% endif %}
                    </a>
                </div>

                <div class="col-sm-10">
                    <p>
                        {% if event.lostTrack %}

                            <b>{{ event.artisanName }}</b> commissions status is now
                            <b>{{ event.newStatus|status_text }}</b> (was {{ event.oldStatus|status_text }}).

                        {% elseif event.changedStatus %}

                            <b>{{ event.artisanName }}</b> commissions status is now
                            <b>{{ event.newStatus|status_text }}</b> (was {{ event.oldStatus|status_text }}).

                        {% else %}

                            {{ event.description|raw }}

                        {% endif %}

                        {% if isDevMachine() and event.editable %}
                            <a href="{{ path('mx_event_edit', { id: event.id }) }}"><i class="fas fa-edit"></i></a>
                        {% endif %}

                        {% if event.details %}
                            <a href="#" class="toggle-details btn btn-sm btn-outline-secondary">Toggle details</a>
                        {% endif %}
                    </p>

                    {% if event.details %}
                        <div class="event-details pl-4">
                            {% if event.lostTrack %}
                                <p>
                                    Failed to interpret commission status based on the contents of
                                    <a href="{{ event.checkedUrl }}" target="_blank">{{ event.checkedUrl|event_url }}</a>.
                                </p>
                            {% elseif event.changedStatus %}
                                <p>
                                    The status is based on the contents of
                                    <a href="{{ event.checkedUrl }}" target="_blank">{{ event.checkedUrl|event_url }}</a>.
                                </p>
                            {% endif %}

                            {% if not event.closedMatch.empty %}
                                <blockquote class="blockquote">
                                    <strong>Closed match:</strong>
                                    {% apply spaceless %}
                                        <span class="text-secondary">{{ event.closedMatch.before }}</span>
                                        <span class="bg-danger">{{ event.closedMatch.subject }}</span>
                                        <span class="text-secondary">{{ event.closedMatch.after }}</span>
                                    {% endapply %}
                                </blockquote>
                            {% endif %}

                            {% if not event.openMatch.empty %}
                                <blockquote class="blockquote">
                                    <strong>Open match:</strong>
                                    {% apply spaceless %}
                                        <span class="text-secondary">{{ event.openMatch.before }}</span>
                                        <span class="bg-success">{{ event.openMatch.subject }}</span>
                                        <span class="text-secondary">{{ event.openMatch.after }}</span>
                                    {% endapply %}
                                </blockquote>
                            {% endif %}

                            {% if event.closedMatch.empty and event.openMatch.empty %}
                                <p>Couldn't match neither open nor closed status message</p>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
