{% extends '_base.html.twig' %}

{% block title %}updates history{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('events') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('events') }}
{% endblock %}

{% block add_meta %}
    {% for title, href in feeds %}
        <link rel="alternate" type="application/atom+xml" href="{{ href }}" title="{{ title }}" />
    {% endfor %}
{% endblock %}

{% block body %}
    <p class="text-end"><a class="btn-secondary btn btn-sm" href="{{ path('new_artisans') }}">See all recently added makers</a></p>

    <p class="small">All times are UTC</p>

    <ul class="list-unstyled" id="events-list">
        {% set last_timestamp = null %}

        {% for event in events %}
            {% set day_changed = last_timestamp is null or last_timestamp|date('Y-m-d') != event.timestamp|date('Y-m-d') %}
            {% set time_changed = last_timestamp is null or last_timestamp|date('Y-m-d H:i') != event.timestamp|date('Y-m-d H:i') %}
            {% set last_timestamp = event.timestamp %}

            <li class="events-item row" id="event{{ event.id }}">
                <div class="col-sm-2 pb-1 text-end small {% if day_changed %}border-top{% endif %}">
                    <a href="#event{{ event.id }}" class="text-decoration-none">
                        {% if day_changed %} {{ event.timestamp|date('jS M Y') }}, {% endif %}
                        {% if time_changed %} {{ event.timestamp|date('H:i') }} {% endif %}
                    </a>
                </div>

                <div class="col-sm-10">
                    <p>
                        {% if event.typeDataUpdated %}

                            {{ eventDescription(event) }}

                        {% elseif event.typeCsUpdated %}

                            <strong>{{ event.artisanName }}</strong> commissions status changed.

                            {% if event.noLongerOpenFor %}
                                No longer open for: {{ event.noLongerOpenForArray|join(', ') }}.
                            {% endif %}

                            {% if event.nowOpenFor %}
                                <strong>Now open for: {{ event.nowOpenForArray|join(', ') }}.</strong>
                            {% endif %}

                            {% if event.trackingIssues %}
                                Encountered apparent difficulties during status analysis.
                            {% endif %}

                            Checked contents of:

                            {% for url in event.checkedUrlsArray %}
                                <a href="{{ url }}" target="_blank">{{ url|event_url }}</a>
                                {%- if loop.last %}.{% else %},{% endif %}
                            {% endfor %}

                        {% else %}

                            {{ event.description|raw }}

                        {% endif %}

                        {% if event.gitCommits is not empty %}
                            ({%- for hash in event.gitCommitsArray -%}
                                <a href="https://github.com/veelkoov/fuzzrake-data/commit/{{ hash }}">git</a>
                                {%- if not loop.last %}, {% endif %}
                            {%- endfor -%})
                        {% endif %}

                        {% if isDevOrTestEnv() and event.editable %}
                            <a href="{{ path('mx_event_edit', { id: event.id }) }}"><i class="fas fa-edit"></i></a>
                        {% endif %}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
