{% extends '_base.html.twig' %}

{% block title %}feedback form{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js?render={{ google_recaptcha_site_key }}"></script>
    {{ encore_entry_script_tags('feedback') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('feedback') }}
{% endblock %}

{% block body %}
    <h1>Feedback form</h1>

    {% include 'shared_parts/big_scary_error.html.twig' %}

    {{ form_start(form) }}

    {{ form_row(form.noContactBack) }}
    {{ form_row(form.maker) }}

    {{ form_row(form.subject) }}
    <div id="feedback-subject-notice" class="alert alert-danger" role="alert"></div>

    <div id="feedback-submit-option">
        <p><strong>NOTE:</strong> English only. <small class="text-muted">Any feedback sent in a language other than English will be simply ignored without any evaluation.</small></p>
        {{ form_row(form.details) }}
        {{ form_rest(form) }}

        <input type="hidden" name="token" id="form_recaptcha_token" value="" />

        <button type="submit" class="btn btn-primary btn-lg g-recaptcha"
                data-sitekey="{{ google_recaptcha_site_key }}"
                data-callback="formRecaptchaValidationCallback"
                data-action="feedback_form_captcha">Send</button>
    </div>

    {{ form_end(form) }}
{% endblock %}
