{% import 'iu_form/shared_parts/macros.html.twig' as macros %}

{{ macros.help_modal('pleaseDontRush', 'Please take your time', "
    <p>
        You don't want your information to be inaccurate or incomplete. Reserve some time for filling this. Grab your favorite beverage. This form can wait. I am aware of the fact that this form is long as hecc. But you can't say your business is a trivial thing, can you?
    </p>
    <p>
        Consider taking a look at the whole questionnaire and start filling from the top after getting familiar with what information goes where. You'll avoid repeating yourself and/or confusing your potential customers. You will also be able to tell how much time filling all of this will take.
    </p>
") }}

{{ macros.help_modal('avoidMobile', 'Avoid using a smartphone/tablet', "
    <p>
        I strongly suggest filling this up using a computer/laptop! You will need to type a lot and copy+paste some links. Mobile devices made enough weird stuff here and will take away any comfort possible. Don't make your life hard! This form can wait.
    </p>
") }}

{{ macros.help_modal('changesOverTime', 'getfursu.it changes over time', '
    <p>
        Please note, that getfursu.it is still in development. Changes will happen, and there will be probably even more data gathered in the future. Not all data you put here will be available on the website immediately - some might be kept for the future.
    </p>
') }}

{{ macros.help_modal('helpNeeded', 'Need help, explanations?', '
    <p>
        In case of any questions/issues, feel free to <a href="' ~ path('contact') ~ '" target="_blank">contact me</a>!
    </p>
') }}

{{ macros.help_modal('feedback', 'Feedback is welcome', '
    <p>
        In case you have any remarks, please add them to the notes field at the end. This is important: you see the opportunities and issues which I do not. You can help make this website better. Thank you!
    </p>
') }}

{{ macros.help_modal('privacy', 'Privacy', '
    <p>
        <strong>All</strong> the information you put in here will be available <strong>publicly</strong>, either directly through the getfursu.it website or through its sources (<a href="https://github.com/veelkoov/fuzzrake-data/blob/master/artisans.sql" target="_blank">GitHub, the IT stuff</a>).
    </p>
    <p>
        There are only a few exceptions, marked like this: <span class="badge bg-warning text-dark">PRIVATE</span>
    </p>
') }}

{% if submitted %}
    <button class="btn btn-success mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#iu_form_instructions_container">Toggle instructions</button>
{% endif %}

<div id="iu_form_instructions_container" {% if submitted %}class="collapse"{% endif %}>
    <h2>Few instructions and tips</h2>

    <ol class="fs-5 ms-2">
        <li>
            Please take your time
            {{ macros.help_link('pleaseDontRush', 'text-decoration-none fw-light', 'Huh?') }}
        </li>
        <li>
            Avoid using a smartphone/tablet
            {{ macros.help_link('avoidMobile', 'text-decoration-none fw-light', 'Why?') }}
        </li>
        <li>
            Need help, explanations? Encountered problems?
            {{ macros.help_link('helpNeeded', 'text-decoration-none fw-light', 'Help') }}
        </li>
        <li>
            Fields marked like this must be filled in: <span class="mandatory"></span>
        </li>
        <li>
            Avoid skipping fields marked like this: <span class="important"></span>
        </li>
        <li>
            Other fields are 100% optional.
        </li>
        <li>
            <strong>All</strong> the information you put in here will be available <strong>publicly</strong>

            {{ macros.help_link('privacy', 'text-decoration-none fw-light', 'Learn more') }}
        </li>
        <li>
            getfursu.it changes over time
            {{ macros.help_link('changesOverTime', 'text-decoration-none fw-light', '...so?') }}
        </li>
        <li>
            Feedback is welcome
            {{ macros.help_link('feedback', 'text-decoration-none fw-light', 'How so?') }}
        </li>
    </ol>
</div>
